<div class="top-container">
  <div class="top-logo">
    <div class="logoFont">
      <h1>Heaerie Global Solutions</h1>
      <p>Nest of Next Generation</p>
    </div>
  </div>
</div>
<div id="myHeader">
  <nav class="site-header py-1">
    <div class="container d-flex flex-column flex-md-row justify-content-between">
      <a class="py-2" href="#">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px" y="0px" width="54px" height="54px" viewBox="0 0 200 200" enable-background="new 0 0 200 200"
          xml:space="preserve">
          <image id="image0" width="200" height="200" x="0" y="0" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAYAAACtWK6eAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
    AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QA/wD/AP+gvaeTAABA
    jElEQVR42u2dd3wUVffGnzszW9LbhoQgvio1CQlFsL+i2BBUkI4UqYI06b0I0kMNNYCgdKWIio2m
    /iwoJBASCKaQAKGH9M32mfP7YzcBfUGy2Z3Uff7zI5lyZ757nnPuuXcAlypMRAQi8kwrurD5ki5z
    KxGpiaiiL8sllypeRMQduHlw2TO/t8l67Fgo1fuxCbU70fHGqYIzXVyQVB6xir6Amigi4rZmbt00
    LXlufwUvwJN3hwQg35wHD4U3bYlY1/lpvye/YMz1eCparidQziIi9knm9g0zLnw4yAveUPMqECQA
    AAOHAksBBChoa7OYN57we/JbFyQVK9fol6OIiG3J3L5pZsqcAV6CO9ScWwkcxWLgoJW04KCkrZFr
    XZBUsFwjX04iIvZp5vZNs1LmDHAT3ODGuf8PHMVi4KC1FIDjFfRpk01tnvRv+ZMLkoqRa9TLQVY4
    dsVMvzB9sBd8/mar7icrJFooOJ4+idz431Z+rX5zQVL+4ir6Aqq7iIhtz9y1dnrKrEFezKtUcAAA
    QYKn4AkjmVm/c0N+OZlz8gVXdav85fpJklFExLZf271myvmZQ70Ed3avnONBYuBQYC6AwKtoW2TM
    8638Wv3qiiTlJ9dIyyQiYjuu7l41OXnmMC/Onal5++EoVnFOwnMK2ha5uXVLvxa/uCApH7kslgyy
    wRHtDDiAYrvlDTOJrG/CgJ9P5sb912W3ykcuQJwsIuJ2XP185eTkWcO9ODeH4Sg5LiR4854wSWbW
    N2HIz7G5p9q4IJFfrjjtRBERt+vqZysmJk8b4cV5Og2Ou1U8majgFLQzckvr5n7NXXZLRrkiiJNE
    RNzOq5+tmJg8UzY4AFskEbxhJjPrkzDw59O5p13VLRnlAsQJIiJu17XPoqcmzx7hzillg6PkfJDg
    zXtDbzGyPucGHTuVe/oZFyTyyBWbHRQRsV1X9y6fmDxtlCfnxtxkhuNuMcYh35QHFe9OOyM/fq6Z
    X7PfXXbLuXJFEAdEROyzq3sXTU6eNsqrnOGwnl+Cj8IPJtKz3ucG/RKfG/+UK5I4Vy5AyigiYrtv
    7Fk6OXn6eHU52Kr7XgdEePM+0Bt1XO9zg36Lz49/2gWJ8+SKx2UQEbE9N/YsG5804wN3Tl3ukeNe
    YoxDnjEP7koPaXvkpmea+TT702W3HJdrBO2UFY79S8YnTR3jwakrLHLcU4xHkSUPCs5d2tF0y3PN
    fCKOuyBxTC6LZYeIiO25vj96YtLUMWpOUbngAAAS4cn7wGDWcX0T+/96Kj/xSZfdckwuQEopImL7
    b3yxYmzK1OFqTs08eM/KBUfxdUKCj8oHBcYirl/CwN/j812JuyNyxd9SyGqrvlg1NmnKMC+mZmqh
    kkWOe4hjPPIsefDgPMUdTTc/GeHTJM5lt+yXK4I8QETE9t74YvWEpKnD3DlFlYADACQS4cP7oMis
    5XslDvgjPj++lSuS2C8XIP8iGxyrxiVNft+NU8lmqxg4mCQzCi1aiERgTnosxXaryKgV+iW891ti
    /tkWLkjskwuQ+4iIuC+uH1gxPmnSMHcZJwGLl9aqOBVCPRvrdFQEk2R2HiRkhaRQ1Cp6nel3PEl7
    zgWJHXIBcg8REbf/xoGVY1OmjFRz7rLDoRSUlnWRq0Z83Wqfz8A6A/bmiDkwkZMh4X1QJOmU3U4N
    OJ6oTWjpgqR0cgFyl2xbgXL7r3+5clzSlOEqScXcZYKDA4cCUQuO400fh8eMeNKn5RrGmGVK/XFd
    R9QduuW20cmQwAqJ3lyo7BU3+PezrkhSKgkVfQGVTNyBm18vG/PXhOHuMkeOXEs+1LzS8EmTmL5P
    +LfcU1xhYoyBiAYQI69VGTFdNEp/KDmF0xZd+ah8kG/JV7wTN+D33Y9vfoaITrmqW/eXa2RsIiL2
    xc2vosYnTR6rgIK5C+6ywVFg0UIp8JZN4es7P+P/1Ff3ekGJCPPSFn2+6nJMV43gDyVzDiTF15Av
    5sOD8zLuarH5uXDP8FgXJPeWy2LBCseX179aPP7c5LECeNngKLZVSo43bwqP6Xk/OABrJJlWf1K3
    kXWH7JfLbhWaC1W94gf9el57vrnLbt1bNf5ng4jYgesH536QMm6KO8lbrcq35EPFKYybImN6PuP3
    VKk2pyYizE1b+EV0RkzHWsoAp9ktAOAYh1xLHjwFL+NnzbY/GerZ8IwrkvxdNXo0iIh9df3rj0an
    TJqilBScnLZKa9GCY7zx48j1PZ71f+qAPS+iDZI9qzM3dtHwfk63W7liPnwUXvqdTT95Nswz9LQL
    kjuqsRaLiNjXN7+b9cFfk6YoJF5eOCQtGONNHzdd19NeOACr3Zpef3LXEXX6H8gyZzvdbvnzPsg3
    FLj1ie/361/alCYuu3VHNRIQImIHb343a9i5D2aooeQ8BPlmyAssBeCJM29uuqbHs35Pl/mbH4wx
    TG84/e1hdQd95WxIJEjwV/ki21Lg3uN0n+OpRakuSGyqcbHUGjm+nTUmafx0gSl4d15OW6UDz2De
    GLG+93MBT3/uDOtCRJidNu+LmIubOvorA5xqtzhwyBHz4KPw1u5uuvW5xp6NanxOUqMiiC1yzBmV
    NH4GD15eOCQdwKSijU3X9HAWHIA1ksyqP+3tIQ8P+irHnA2LsyMJ74t8Q75n7/j+v53X/hVR0yNJ
    jfl5ICJ8e/OHWUPOjZzpztw5D5m6cottFcc44ydNN3R5xu/pg3L8ChMRm5Uyd//azE0dgxQa50YS
    xiPbkgN/3r9oT4utT9XzqH+2pkaSGjGTTkTs25vfzRmRNG6qB+fGydU+UmyrFEwQ10esGSAXHADA
    GCMi6sQBn8dkftzFX+E8uyWRiADeHzlijkeX+D7Hd0d++hQRnauJkFR7QIgI39/8YdqIpHFTFeC5
    crBVxpiIdYOeD3huZ2lfKJuNUV66gaBLRfo6FgtZ/FTq7PAgLkvpBu2/TCYSEXWVgAPrMzd3CFQ4
    b8Zdggh/3h85hhzP3okD/tje5OMniSippkFSrQEhInx749D04UmjPlQy+atVAGf8pNm6Xs/5PbfP
    DjgUBxMNT0cnfjf6vOn3VibVZW8JBjVvqXVVY4483SHkte90Wtrv5oGcex3T1rv1NoO0d13m5k6B
    TrRbEkT4q/yRZczyfCex/x97mm59goj+qkmQVNs7JSJ8d/OHqSOTx87hJYH3kLlaxTFY1jdd3e8F
    v//uKO0MOUQoB3154oPdhYunBDyU5OflRhCIAyBA4swwWETczvJBYHbf/9veZnj/VvVY+v2OTURs
    ZspH+zZmbnk7wImRBAA48MgWc6BR+BXsjtzWsr5X/dSaAkm1vEsiwve3D00bkThmNg+OlzNy6CQd
    LCQZN0asGfxiwPPb7IgcQo/Pfxn3FZs0r3HdHB4WTxDxfz8+A5jCiNtaLfQp76QcazendcQj7Ma/
    3feslI/2bLjycZdAQQPB2ZCYcqBxq5X3edPNTz3mUT+5JkBS7cq8RITvbh+aOixxtOxwFFgKYCHJ
    uClidX874cCqn2+9+ZV53qzQ/2TzZPb7Hzis/w6QTCpoPLyhaLiz4bvHtq0gM933JIwxzG44o+vg
    2gO+uGG55eTJRBEBKn/cNtz07XKm758XitIb1oQScLUChIjww60jU0cmjpmtAC87HDxxlg0Rqwe/
    ENB6lz2/pmYDhHXpOwY/VDfNTTL5Ag+4RsmsQrC7ChfUOzpuibv18r9eG2OYEzqz03u1B3yRbc5z
    LiQkwk/hizxjnk/3U71PXChKb1DdIak2gNjgmDLsr1FzeHCC3LaKY2Re13T1gDYBrUsdOYp1KK3o
    vzfVx571VLoBpXq/JEiSG3w0l1VfXj7+3oNeSsYY5oZ+2GlA3V5f5Di5LQUAfAUfZJlyfHqcefdk
    WtGF0OoMSbUAhIhw+Pbhae+fGzFXEOWOHFqQaDGsj1jfryxwEBFO37hSX+l9y4NE3o4/5OHuZkFa
    UXIriHjgHzLGMK/h7E796vbZf9uS5fQGxwCVD7KNt3x6nOl7KqPoYiPnjnTlUZUv8xIRDt06Om7E
    ubGzBShkLuVqAUjmtU3X9G8T8PzusiapeWatH2Mis2v4CfBQKpCovR4yZO/1/UTUkTH2rz/dthJw
    Z4jswObrWzvUEgIcStwZbwEniABMABTwVypRYLqs7nG2c0J60YWQxzzqZTt94CtYVRoQGxwTR/w1
    ep4E8N4y2yowybwxbM3AFwNeKDMcAOCp9MgnA28GjCo8OBgUXwQAAZ68l2LDgYw3VUrd/xFRa8bY
    v96wDZKOPOjzDde2dQ0sy4w7J4JX6CHpfZF341Fob9WH2eAJxlvg5nMbBb5/Kt9h3U4n6U90CFW3
    qlbrSaosIESEI7ePTnj/3Mj5PHhZ4SiwaAGSjDGRa/q9qHEMDsYY9p4uuGFMDjTA/5KqtJfMmAhA
    gjn/McCHZ6u+zngORHuIqAdjzPygcxJRNwtPu7dc2dZdI5RyMpE4cIIJHG/CjfOv4Pr5lyHm1ba+
    NRYG8GQttQldcDP417pts8b9FvV0rxFEtLm6QFIlASEiHM3+adzQhFELGON5T9ltlSjGRK4d8JKD
    cBTrtXpeiT4nn71gpJQWKuZeikSdAycYoM+pg8Kb9QClCCh4rDp4sRMHaScR9WSMWf71XqyQ9IAI
    1ZZrOztqFA9amciBV5pAJCLl12EoSHkWUOgBtQ4AAQrbRRMDSAAuv4zLN5q49ctdGqN7RZ9DRHYv
    DKuMqnKA2OCYMCRx+HyBF3h3Tt7dRzhI5tURq4a8pHmh1L1VD5KnF9KH1Ou1f87lH5qE1rullAw+
    wL+8qIw3gVOYcC2pLaB3B9y1ADjAA1h58FIXCZxERL1KCUkncNi75dLOTrXUfvfNSRhnBsGCjN8G
    oiD1aUBdAHDiPQ5KADMDbvmA2Q/64zOECW4ffRrevtmLAE45/cGUs6oUIMVwvHfm/QUCE2Rdz2GF
    A6bVEWv6vap5wa55jgce3/qiLvlt+7TIX65M6PZoSD6Y2RP0zzlABvC8DpzShMwz7ZGX8Ryg0t+J
    OAoO8FBg1cH0boyHRER9SgEJEVFnAJ99fHlbt2DVPWbcCeAUemRfaI3ctBcAdeG94finFAZA54Xb
    f/bxnld3TTQRtWGMmZz+gMpRVQYQIsKx28cmDDk7ciFjguzVKh6itCpi5WBnw1FyHsaMFj2N6PzF
    ctPRCwt7Bda+wLzd3awPhHiAF8FJZpgtPrj8RydkJbUHeAPAWVDSIUQAFAzwUCL6QHoPiBBskcT0
    gHODiLqTSPyWa9s7Byn/DgkTLCCjJ66efRngjQBnRqm7kty1QEEoDiUeafJL+DcdAXzu9MErR1UJ
    QIgIP2b/PGno2Q/mC0yQtWW9yJZzrIyIHvqq5uWtcvpowY1lEVHfzb83+XXDhYP90+n3SC+fLDe1
    ygSz3hcFtxog+9LjsOTUAVQG26/4P66nGBIvJaK/TO/C8xzsyEm6gMeOLZe3vxOk0kBgPAgAx5tQ
    eKs+zPl1AMEA+1r2COAA/ZVIt2M3f3mViJy2mrIiVOkBISIcy/557HuJw+aDOM5TZjhESOKaiOiB
    r2le/rQ8HqxtLiOGiD756OAbH83cmzgGnpwA5gaIPMBLgFsR/jWTJwA8A7yVWH4grQs4SSKidxlj
    hgecG0TUCwTFJ1e3da2lCALPeICJ0OY+DFgUgGC0/6Z4ESiso0jKO/eY7AMosyo1IFZb9X9j3z87
    IgoETs5Srg0OKTpi2fDyguNv18CYkYgmZpvrP7HyQGpreBoBFVDKXhSrFAzwVGL5/vRunATBnhKw
    yMSD2y591r6Wmx8E8LAYfQBOKlu/NxMBixfy9UY1YC7DASqPKi0gRISfsn8Z897Z4VEC4zhvGT9e
    U2TRwgJRWhuxYvBrmlcrrIZve1nbE2f5KfpAWktwSutLX1pGiu2WpxJLD1zoBMbtsCXuxlKc900A
    +3Zk7no7WK0G400EiSvbQBAHwAyFwJlLPRFaSVUpASEi/JT7y9hBicOiBOJkzzlESLQ2bMXwioSj
    5JoYKyKiVwHpq+gv05+DhxIQ7LimEkhUWPplWldb4t6tlNWtToy473fdXNda4ZnJQyAFCPZHEYkD
    vG5b6nr7Xq3q7X6VDhAiws+5v44YFD9sMSBx7rLaKh3MEKU1YUs/eC3o1fUVDUfJtTGWS0RvMGKf
    rzyQ+iq81VZI7I0kbkos/TrtbRKww455krbEivZ9qj3aGqqCAJjc7MtDGACLEqiVZGitCT9WWca0
    rKpUgBARfsn+ddTgxBFLOA68J+cts60yW9ZGrHyvrea1LZXtQTLG8omok0Rs36qvUl+Dp8r+SKJk
    AFNi2b60bgoOZiLqV0pIOpvY4C3R5w91Rlp3L/Am64RgaWRWAqoshDZOvtg2cOJ2YFhFD6VDqjSA
    WCPHbyMHJw5ZBuJ4T1lzDh1EiBQdsWJoZYSj5FqtdqsLmLRn1YH0tvBWWqtVpdVdJeBF+9J6SRJA
    RANKM09ipPyBvz3eOSTuastXYPoPg1KLB3ot4gGjJ9Dk45z3I57e4MtCDKjiqhSAEBF+zf119OD4
    95fI3ZVbZNHCBDOtCVs+vJ2m7ceVFY6Sa2ZMS0TdCGzv6gNpr8JbVTa75a5E1L60XuDB20rA/wqJ
    ivlIvxV+M6tdzoKH8n+aGgp9MINbIe57YosKMKqBR3bk9Xwxb+fIOptWj8LMih4+h1XhgFjhOD5s
    wJkRS8CB95bZVplgoeiwZePaBb2+rrLDUXLtjBUSUSeIbP/qb1JftSbudiS/xXbLS4moz9J6WJtw
    qf+D5kme9Wr/x5c5WyeMUi2acOn3bk8gu6U7eA7gLSgBReQASQUosgiRm2680zpv/6aIj8dUlbF9
    kCoUEBscIwafeW8ZCLLaKp3VVknRYUuHvxnUrtIk5KW+B6vd6gyIe1cfvPQavFjZ7Ja3Egv3pfVg
    BGbLSf4Vkrf8+nz72MsNMuY+vLzDoVM/Dcy9+ngw8up4QPJggAlwyxWhScoKD01JfT/yhd3Da09e
    W9XG9t9UYXdCRPg15/ioAWfeWyZB4r0F+SKHzqKHAXpaFbZ81JtB7VZX5QdIRF7D9l34Yt3BtJfg
    Zafdsg4IYCKg0ITJ3ervX9D+sXceNE9iOy87qf/xmUM3jjVLyr3eLNegr6XklYYQb+Xt/2qaxb8e
    0GmrHx9chmn3yq0KiSBEhN9zj48YmDh0mey2StTDCB1Fhy0fXdXhAO7YLYnYvpjvU1+GWxmrW9ZI
    0onj8CkR9QVg+rexsbXE/EZEv+FRADACUADgYP27ql2tup/KHRBb5BgxIOH9ZSBJ1sVOOosOZjLT
    6vDlI94Ial9tQj9jrICIOoLEL2O+TbdGkrLYLXcl5u/J6A4iNq9dvYFEpH3QGFWXMSytyhUQIsJv
    uX+MHJw4dJlEZsFb8JEPDlEPA2eg6AZLP6hOcJTcozUn6QiGvTHfpL9WJkiUDACH+XsvdCPwwvx2
    j/QiIkN1GytHVG6AEBGO5/75/uCEoUtFkmSFo8iih5EMUnTo0pFv1X6j2sFRcq/WEnAXAPtivkl/
    tWyQcACUWLA3pRPPsP2j1x/pS0S66jpm9qpcACEi/J7zx4j+Z4cuFyVRkHX3EYsOFphpZfji0W8F
    VV84Su7ZCkl3Iuzf8G36i/BSAnwZSsBQYu5nFzoTE9nctvV6oKq34TpJsgNiixwjBiUOXWGRTLyP
    zLbKCBMtD1s8ukPQm6uqOxwl985YHhF1AOGrDd9deqFMJWAlA7w4zNud0YkHv9VWAq52VSl7JSsg
    RIQTubFD+ycMWW4hkfcVfCDJBIfeooeeDLQidOGkjkFvRtcUOErGwFrd6iBx9MWmbzLalC1x5wAv
    YM7ulB4EMCLq/aDereou2QAhIvyZ++fQdxOHrJJstkouOHSiHkbOSMsbRY19O/jNFTUNjpKxsFW3
    mERfbvzuYtnsloIDvJT4aE9qd84KyQO7gKuzZAGEiPBHzsnBAxOGRZvJJMhuqyQjLQ1dMLlTDYaj
    ZEyskeRtiNyXGw9fag0vBtiz7qmkVV7A7D0p3cCYyda75fwHWAXkdECICCdzT/YfmDhklZGMCl/B
    FxJKsWWMnWLgoBf1KJL0FB22cMLbwR2X1nQ4imVrlX9DFOirzQczXoSvyn5IbNWt2Z//1ZsRSUQ0
    sCZGEqcCYoXjVL9+CYPXGcms8ha8ZYNDJ2phkiy0Imzh+LeD317mguPvslW3OjCwLz/+Jv1FeJdx
    noRT4cPPU/tKDApbTlKjIonTACEinMw/1atf/IB1RogqOXurDKIeBslIS8IWj+8c3NEFx31ks1tv
    iaJ04JPDF1+CZxkiCc8AdwFzdqf05DgQEfVl1o2Ca4ScAggRITb3VJ++ZwasM8OslhMOvaiHVtLS
    8sZRE7q44HigbJGkEwP2b/k+4yX4qO2DBCixWx9uT30HEuNskaRGQOIwINZSbty7/RMGbjDDrJQb
    Dr1koBWNF4/tHPJ2jU/IS6uS3i2OfbXl24wX4VOWnIQBPgI+3PNXD8bA2Tanq/Z2yyFArJHjdM8B
    Ce+tM0rywmGwwREVNndS5+BOLjjslC2SdJQs9NWnhy62LhMkPAeoVZj1+V/dGCODbTKx+n5/DQ4A
    YoUjvme/cwM36i1GNx+ljJFD0kMn6mhJ+LyJXYO7LHHBUTbZIsmbEoevtn1/8QW7IQFsbSkqzNye
    2pdjTEdE71fn51EmQIgIp3NPd+93buDHeovRzUflDSI5E3IDLQpdOLFrcCcXHA6qeMadEb7c+kMZ
    ILnLbk3f+dcQxiAS0Yjq+lzsBoSIEFtwunu/hIGb9aLRzUchLxxFkp6WNJo7rmtIp+XV9SGUt2yR
    5C2JcHD7oUvPw0dZNrvlrmLTdv01TJLAiGh4dXw+dgFCRIjPT+z+bsKgjw0Wo7uctsog6VEoFtLi
    0PlTu4Z0dcHhZNkiyZuA+M32H64+Bx+FffMkQLHdYjN2przPcRCJaFR1e06lBoSIEFcY/867ZwZt
    Mkp6Nx+Vj+yRY2no4jHdQjqvrG6DXllUnJMQ8Qd3HM14Fp7qMk4mCmzajpQRZN13q1pBUipAiAjx
    BfE93z09aJNe0rn5CPLDsbDRnCkuOOSXrVW+HcC+3XH04rPwKqPdchPY9M9TRnAMREQfVJfn9kBA
    rLYqoXPvhEEb9Radm49SvsZDg2RErlhIy0PnT+0R0n1RdRnkyi5bJHmdYPlu56Grz5bJbqk4gAls
    6o6UkdbdS2l0dXh+/wqINXIkduh7ZsBmvaTzkNNW6S16aElLy6xwLKwOg1uVZMtJXofEfb/zx4vP
    lM1ucQAnsCk7UkYxxiQiGlvVn+N9AbFGjvgOfRPf21pk1nn7KOW1VQamp4X1587s6SAcRNZ5q6r+
    YCpCxZAQ0aFdP115El6KMtutybuSR9siybiq/CzuCQgRITH/7Ft9E97bVmTSesmakEt65Is6Whw6
    Z0avkB7z7B1MGxDK67nw++uWqe6B+Dx/bzf37KvZdCPEHzcAiFX5AZW3bHarnQQ69NnRq4/D105I
    gBK7NWlb8hgOhKoMyf8AQkSILzzbse+ZAZ8WSfLDUWjR0aLQWTPLCAc7lYGmc08cHhOnO9ra5J6m
    EZnJDaSyeOgePdfMvc2hSS1fiyGii9W9JcKZYozlENErjOOO7T6c2czunOQuuzVhW8oY28d5xldF
    SP4GCBEhXnu2U9/TAz4pMmu9ZLVVNjgWNJw1vXdIr/llgEOx4qfrnWYlz53n9shP9TR1LRCgBANA
    gNKCxOZ/ag82b/vjfztOyZg2nYj2uSApvYo/4iNK0vd7frrWBF5Cme3W+B3JY21r3KtcJCkBhIiQ
    qE3q1De+39Yis7wJuUEyIt9SSPMbzv2wd92eZYEDq/7vdofJGcO31I8846YiP0gif9c5rJtiBnuI
    MEUebTT9fOZm6chGMxF9WdUeUEWKMXaViF7tDvr282PXm8HHTkiAErs14dPkMQCqnN0SbBeNJO25
    d3qdeXeDzmL08FZ5yVetknTQmvW0qPHcKb0f6lmmUu75TITNSvloTr3QM25KKQCSdO9jkMRDaQpA
    g4bJXovPfbi4zYWYOABXyneIq7YYY9eJqDUj/PjZrzdawIMH7Hlmf7NbyWMYqhYkgjVynBva69SA
    lUVmnVJuW6W16Glu2MwZvUPKBgcR4Z29v/VS1D4WqmJeIJE94N8DbuQLVd3fGi47dXggEc2uKg+n
    ssiWuLfmeD5p169X6kKtsO+7AMV2SyWw8TuSx/CAlog+qgpr3LmrxquDe8UPiCoyFyp9VPJNApok
    E/IsWprfcObMd0N6252QFysvFx5/an94I9DHBJJUpfobSRSg8ZLwR+GxXnodlLKOaPWVcKvQ5A1w
    Zf9ohpoDlDwb82nyjDW/Xu1fXJKvzOL6xg/eYLToPOWyVQBgIjNMZJEWNJw5uU/d3nMd+QX/K196
    pIhPDwbH2/VdDBVTQKtOe2jCwWsxVeHBVBYREYjo0ZbL4mKPxt30gZsDa+yK990yiCzxetGjFX1v
    pZFwRX8VHrynbHAQAJ1Fi94P9/7u3bp9Fztqb4qMOoWo0AoKUtj1d4zn4edpVq/Zn9LLy00MJqJ2
    rqrWv8v2Q/JIyxVxR+MSsx+Fjwr2fa3nH5IIKDDjpdYPJa7v2rBKdGgL7rxaFltVLOsG+wpc0V16
    1PafDr2UHip3A2/2NJmZGQqoS/+HkgiIXgxKpWLhvrTXOF4s/na4C5L766HmK05/F3/GBocj7zMR
    kG/GS08HnT8ypMmLjLHsir650kgwkRkqppIVEi/BHceyfw4bem7U/xHRKw/6Lt6/qbE/d8FDbHAD
    0sngUuPGAMaJ0OXWAQQ1oDCx+fsu9GRMzCGikS5I/ldE0kMtV5w+En8mq5HjcADINaDNM3WSjwyJ
    eKmqwAEAghIqMkpGpuJkhIQB3rwvvrjx9XMC+K+I6K2yQuLrDfNTHi/9eSh/b7O6fkaQ+OBEnXEi
    JFGJvMuPA7AAKgYIHOZ9dmEYA0+2NQwuSGwiojqtVpw+EpfgDDgIyDOhzTN1ko4OiXiBMZZV0fdn
    j7h1ESu6FYm6Ip2oB4MdGx3bKZ4xBCkCse/GF68MPzd6JxGVrgT1DzHGMOPZ5zZK115JMVIhGPeA
    95oBgjoPty48B/3t+oDCYP1F4zjAS8nmfpY6fMb3F1cSUeU3xOUgInqo5bJTx2LPZDWCtzPgMKPN
    E8FJR4dEtK5qcAAA95Tfk3tXhkWN1ks6i74cIAlU1MKeGwfeHnFuzD4isiOJuKPGIYib3XjK0ozk
    ZhYjlwVOuPceZoy3QOGej7zLLXAlrhvAjMDdQCkY4CWwuXtSR8z65uKamg4JkRTSMvr0kbiE2w2d
    YqvyDHjxqaBzR4dFtmaM3a7o+yuLBFslYdOB6wfYqKTJ6wDwbrybbHaLZwzBilr4/MYX7RlYcaJs
    l91i1j7qDRZajTkJC6Yp/3P0YY23BAEcGDjwPAABkExKXD/3Eq7EdgdEJaA0AHczUFx29BTYnL0p
    Q8EzS3VbMlpaEVGdp6NPH4mLz2oEvzIF97sPBuSZ8MJTweePDY18oarCAdzVi9UhuMNGkZFq3Lkp
    Kwjg3csBkr039ncC6DMi6sEY09tzjGJIWteNjpt/4sh7cdePPqd1Sw8SOa23ILpzTPcYX3C5BfQ5
    jwEkAQr93+EoVrHd8lSyOXtSRjAQsyXu5fskKlBE9NATK04dOXnmtjXncOxgQJ4ZL7SqnfLj0Igq
    GzmKVQKI7YVbDYI0JmliNCuHSBKoqIW9N754C8BuIupelkgCIA7AkOvZpLiQa2mRZ9I9NnH/paVJ
    SYW14c8DvAFgIh7oF6zfxGCzd6cOByBWlyWjDxKR9NATy08fPelEW/VCqzoXfhwe8d+qmHP8U3+b
    FrVBspaBxNFJk1cDEMoDkj03vniLgd9DRN3sjSTFqh3AzAD+BPCn3iD9Grn01MXUtGzO+otYiqde
    3FTnK7DZu1NG2TZEqzJNdWURkVT7ydXxh0+ezXICHNbI8Vyr4PQfh0c8yxi7VdH35wz9T9+ADZIY
    AmcalzRhY3nYrVqKWth7Y98bjNHnjkBSLDc1l2mU6D8Ri2L/SEnOqQNfNUo1YUIAmLW69eHnqWMY
    MZ6IxlTHEjAR1XkqOv7YifjbDeGtdAwOAMgz4vlWQak/D2/2XHWBA7jPklsbJFskUXIfkzx5JQfw
    ahkhERiDRhGI3df2vUHAfiJ625HJRABQceyKSbS0abIo7mBKcm4D+KpL/xLY7NasPSmjyLquekx1
    iiREFPRMdPzhP+NuNoSfHeNyz4MByDXg+ZZBF34e3uzZ6mCr7tZ9O89skKxhPCyjk6asJYCTy25Z
    v9PCEKSshc+u7WnLg9ttS9wdgkTJCyk6M7WLiDpx8EJaQSN4lbJN+641DB/uTvmAA0m2JaNVPpIQ
    SXWeXR1/+Hj8zVD4l6nKfvfBgAIznmkVlPHziGbPVDc4gAds+1NstySQakLS1OUM4OSMJFZIgvHZ
    tb0dCMwpkLgrWJrRbGkTGhV7OD2tMAzeSpTabvEc4CGwmXtSxwBMqOobohFR8DOr448cP5XVGN4O
    VqsAoMCIZ5oHZfw2otlT1clW3a0H9i7bIImGCPogeeJKX4DJbreUgdh1bXcHItpl+1CLY3ZLIVwz
    mS2tGy069WNGak4Tu+yWkgMgsJm7U0ZSFd4QjYhqP7P61NHjJ7MaO8dWGfF0q+oNB1DKrUdtkKwi
    iPyE5OlLy8VuqYKx++rejjzPdtogMTpyXKVCuF1ktLRrsiTu+4wLBWFlsVuzdqWM4jmYiWhCVYKE
    iGo/uyb+6PHY206zVU8/Hnjx92oOB2DH5tU2SFZIgDQlecYyJnPizoMhSB2AnVf2vs0kto2I+jgK
    iYdKyCwyW9pELoo9diG9MAzepVxTcpfdmr47ZSwIEhFNqgqQEFHIs2vij/x+MisUvk5YTFlgxDOR
    QZd/G9W02sMB2Pn5g2K7xXiYxidNWwOZcxKBKVBLqcG2a7u6WggKZ9gtD4VwU2e0vNEkKvab9NTC
    UPjZsfDKare46TtTxnMErrJHEiLSPL/u1KHfT2SFOmyrACDHiKcfD7r426hmT1THhPxesnv9pA2S
    9ZLEFBPPT1sOBl7NyWW3JGtbiioYu6/u7sjz2Gr7DLFjibtKyNAaLW2bLIn9/mJKYSh87bZb3NRd
    KWOJh0hEkysjJEQU0HpN/I+/nLwd7rCtAgE5ZjzZMvDK7yOrZ7XqfirTAuPinISHaJpwfuZaCODk
    ggQotluB2Jm5pyvHSj5D7BAknirhss5oeTlsSezhixfKZLe4abtSJsC6IVqlsltEVKv1msRj/3cy
    K9xhW0UA8kx4omXgjT9GNnuKMXa9ou+vPFXmFfjFJWCRwE9MnrYKVA52S6XB9sxdnSFCclIkuVZo
    NLeNjIo9nJGqbQS/UpaAgRK7NW1nynhYy1uVAhIiCn5+TfyPv5y82diuat09DwYg34hWzQJv/Dmy
    WSvGuKsVfX/lLYc+A13SuyUxxdiUqct8mXyRhCBBYAy1lEH49Nqurjw4ztYq71Di7qVSZOYbLa9E
    Lj71w6X0nFB4l/KlKrZbTOCm7UyewFtLwBVqt4jIr826xCO/nMxqDF8He6sAKxxNNVdPjG7eqqZF
    jmI5BAhQAslKiYdl0vkZqyCAyQeJtQRcWxmIT67t6iwBkjOqWz4qIVNrMr3YJCruh4vp2qbwtCMn
    ETjAXWCTdyVPgHWLnAqBhIi8Xlwf/+NPsbfC4aO0b/fDe91XrhGtWgZeOzGy+ZM1FQ7ACYAAd9pS
    iCSPickzF4LknkxUIEgZiG3XdnSVwHhbdcvkyDE9lcqbWqP0eviiP49cuqQNg5e9dovnJu9MnQCe
    SUQ0tTwhIaKANutPH/vpj6xIhyOHzVY90bzYVrFr5XYjlVBOAQQogWQxMaIp56cvAuOYWqaNIO62
    Wzuube+kACuubjkGiYq7Xmgwt2208PTha5dyGtlnt3iAY9zkbcmTmDWyTS8PSIio1ktrE479eOK2
    NSF3AhyPR2hu/Tm6+RM1HQ7AiYAAJZBEMZFTTE6ZMReCJKvdskISiE+vbu8u8eCcYbe81IrMAqPp
    1YjFcd9fytCG2jXjznOAu8BN2pY8hbPO28iauBNRwEsxiUePnbzhHFuVb0TLpoHXTo5u3rIm26q7
    5VRAgBJI5hMsmJIycy4Enqk5pYyQKBCg0mDbpe1dbd+g6ONodctbpbycZ5DaRUb9+d3li9rGdtst
    4rkJu1LGgYOFiKbJAQkR+b4Uk/jjsd+vNoGfm3MiR9PA6ydHN3PBcZecDghwBxIRnHp6yvTpEHxk
    tVtKpkCAWoNtl7Z34UCCbdGV2ZHj+qq5i3kG8+thC2IPXbuc3wA+bih1F7CKBzjGT9iePBkSOCKa
    4kxIiMjv1ZiEn44dvxnhlMbDfCOaRQTejHVFjv+RLIAAJZDMBCDOSpk1iwSJuclYAlYyBWqpNdh6
    ZXdHTuKKe7cchERxMddobhOxMPbIlYv5jeBTyhnp4uqWG89N2JkykXGQnBVJiKjWyzEJR47+cTMC
    PgrHbBVgyzkCr8eObf64C47/lWyAACWQzAYgTE+ZPo3Jarckq91S+GHL9W3dwYjZ5kkc+gaFn0px
    JVdvbh8RFfvdlQxtA/jYYbcEHlCCG789ZTIHwFFIiCjg1ZiEI0eP34ywtsc4Xspt1jTgeuzY5i0Y
    YzccGafqKlkBAUogmcGBpEkp02f4C75MKbPd0ggabMrc3g2MiUTUz9Hqlp+b4kKe3tymUVTskZsZ
    +Y3g7QaUdnGhmgd4cGO3pUwGeGaDxO6ViUTk+9qGhKOHnRE5CECBEU0jA26cHvt4Sxcc95fsgAAl
    kMwCJExNmTPDsxzsVm2VBp9e2d6TMY7ZSsCO2S03xZU8vfml0MWxR69fzm8EL3vsFg+4gxu77fwk
    oCQnKTUkROTzyoaEH48cv9kU3mX4LPM/VWBEi/CAzLhxj7esCS3rjqhcAAHuQCJCUsxImTOZU/BM
    xeS1W/6KAGzO3NqDSTAT0QBH7Zavm+Jqrt78UlhU7LHrF7UNS718F7BCogI3dtv58TwvmoloRmns
    FhH5td2QcOzI8ZvNnAJHrhEtIjRX4sa1aOWC48EqN0CAEkimggObnDRzkkYZwJQy5iRKpoBGEYgN
    mR/34YgTiOhdRyOJn5viao7W/HrDqNhDtzPz68HLbrvFf7AlZQoI/INm3InIv+2GhCM/OAMOW7Uq
    IiLgWty4Zo+74CidyhUQoASSKURMmp48e4q34Cmz3WKorQpGzPUtPWHdnWSgo5OJ/p6K9Fy9+YXQ
    hbFHb1zLbwgPO+2WB+M/2J48SSKeu1/vlg2Ooz+ccFLkKDCiWWjgzdPjmrvgsEPlDghQAsk0koif
    kTp7Iq/gmVI2u2WdTAwWNIi5/mkv8Ix3Rk7i56a4kq03vx6+MPb7G5lFDeBtx1AKHCDy3Jit5yeA
    +/t6kuLPnrXdcPbLH47fjISXc2xVRHjAzdMTmkc6AsedbzsSiidfKkOLv5yqEECAEkgmE8BNT541
    PkDpL6vdskISgJiLm3vAuvduf0chCXBTpGfrzS83XHDiaPaVovrWrXTsq26N2XJ+PC+ROxGNsv1x
    0Jsbzx764fi1BvBWOm6r8oyIaOKflTC+RYuywEFEMCA38HDOD32mXZjQNbMwL8Qgipy/SmloqmmY
    lmQ4sSBU1er/qisoFQYIUALJRHDgPkyeM85T8IScdktgCgSrA7Ep89NeEpjSlpM4tM1pgJvicnaR
    +eWwqNhDNy8XNCz1flMldgvcqK1/DVWqeW7Ik7V3vL353NaDx6/VcxgOACgwIiJCcyNhXItmjLGb
    do8ZkXrzzeVzoxOPdjyf/JDGdKuhN/TNrRfF6wh+F+vV+s/CVzpGeqdlGM/1eEQZFl/dQKkUd0NE
    2Jj56fIPUz4a7afwgVx2y3rDHExkRrY5F+893Oez2Q0+dHjGHQBuaY2PNomK++5Wpq6RXXYLAMwS
    oOAQEeKBxAv5xa0qjl1QnhHh4QE3E8Y3b8Ez3u6u3CLK/s+gxCHbdv3k8xxSOzGYagEC2XbKhxVw
    SQBgBgL+QMOnD96MfnbIkNd8un1ZnSCp0AhSLFskGcORyKakfDSqlkJeu6W0zbivy9jcHcRLNrvl
    UOJey1OVkaUzt2m08ORPOVe0DeyyW0oOsBAS0/IBN8EJnyAwIjzU/8bZ8S2aMsbZbau0lNOoy6me
    n333batIXO7MoDICbrp73I8RIA649RJSvm8Q9I5x8ScHXlF3JqJj1QWSSgEIUALJaAZmnpU6b7zc
    dkvJFAhW18L6zC09GZhkmydxaMY90F1x7Xah6bXQqNOHsq7k1bfLbvEMcHfC4ygwIqyJJuvs+GYt
    ygJHrimneYf49vuPHvvvf3ClO4N73p2ocS8xCfDIAYwhyPl5lO/7Pks2/fHik08CqBY7n1QaQIAS
    SCZYIKk+TF0wklfwstmt4pwkUOGPdZkf9wIDs7WlOGS3NF7KjNuFxtdCo+J+yLqiqw8vByOCPcoz
    IryxJitxfLNIxni720eyzTnNuyV0+CI2xTMYF7syqAr+HY6SwWSAohAw1ce5E8//Z/ljy+cT0eDq
    EEUqFSBACSSjOIDNSJk/IkDpKyskSqZAoCIA6zI2vQMCOWOeROOlSr9daH6l4eKTR3OuaR+zrieR
    WXlGhDbSZCdOataMKwMc+ebC+h1jO32bYUkLwKU5ClgYoDCh1HQzAIIOyHyR25cc/crYR24HohpE
    kUoHCFACyUgRYHNT5g/3VHrBjclrtwLVGqzL3NSLgZS2LmAHI4niYlah6eXGUbGHs69o68HLCR+p
    uZ/yjAgN09w8N6FZU47xdlWriAj5lvz6HWK7xKcbkt19pEa4dPM/gNIOOIrFmQGjL1Iu1g78s+DX
    HgBWyXTH5aZKCQhQAskIgNiclIXDeKUAJVPIHEk0iLm8uSs4wWCLJA5BEuilzLhRYGrfJCr2+9vX
    dY/AQwa7lWdEaJh/1tnxzVqWBY48S35E19iex9KK0jyCvXyRez0YZPIB+DKkYwwAD+jzagkXijKb
    ElGVn0istIAAJZAMJ4IwO3XuewHKANntlr8yAGvT1/UBA++MnCTYW5l8vcD0SljUicO513WPwMNZ
    kYQBeQY0bOR/O2F886Y8x9u12ImIUGTRNu4U1/1QalGqRqPUgKCDZFQDErOWdMt0WRJg8WD5pnx/
    Z9xlRatSAwKUQDIEgDgvdcH7nkofuDF515MEqmthXfqGd3hiFlskcagLuLa3Mu1GgenF0KjYn3Kv
    a//jFEjy9GjcKCDr3OSWzXk7VwISEQos2kadYrsdSdWnBWuUGtv/4ADejLtbSewfRA7gDOSh8Lld
    1aMHUAUAAUogGQYGzEtZ8D5fDom7RhWA1Zc29LWtKe/vKCTB3sqL1woMb4VHxX6Te93wkEN2K8+I
    xo0Cbp2d3CKSL8MMea5F26h7XLdjyUUpIRplwJ17lxjcPW4BbkbAzAN8KSpYfxs8BkgiVH5Z4sMe
    jdIcGa/KoioBCHAHEomI+yh1wZAApZ/8kCj8EX0xpjd4WIjoPUftVoi3OuFGgemV0IUnDufe0j1k
    dyQhBuRbbdXZyS0fF+yEg4hQKBY16Bzb9ch57d/hAACSBKj9bsHD+yKKboXa8hB7LpABnAUPBV8p
    eMKr5beOPofKoCoDCFACyVAOwOzUBUP8lL5Qy2y3aqkDsDo9ph8jqGx2y6HerWBv5V/XC0xtwhbG
    Hs29pa1bakgIQKEeDRsEZCdNbN5cYOyKXfdDhAJLQViXuJ6HzutS6vwTDgAgiQdgRGDDX1B0vYm1
    lYQrbRQhQO8FBB01vtE45I9Arv5ZJz2KClWVAgS4A4kIYGHqoiGc0hdKxpe2qcMu3W23VmXE9ARA
    zkjca3srU6/kG95qujj26+ybpbBbBKDQiIb1Am4nTWnRVODs662ywRHeJa7nkfPa5OB7wVEsyaKC
    5tE/kZ35OArTnwTUBaVYEEaAxR1QZ9FDLb/LHFVvSbnsKlkeqnKAAHcgYZD4OanzB2mUgbKXgDWq
    AKzMWPcOwBRE1BeAwZGX4CEfdfxVrenl8LknDufd1t0/khADCg1oUM8/++yklo8LnP3bgRaJugZd
    43odehAcAECSAiRYUO/JbTiv9YPxZmNAVXD/fIQYYPEELEUkPL3q5pLnOi+op2xeLaIHUEm6ecsq
    IsLqS+s3LkhdPMhX6QuVTHYLuNMFfNuSg1EPDzkwtf6kdwDoHf2lvKo1NAifF3c0L6uoLjz/OePO
    gHw9GjTwv5U0uUULBSfY9X0OIoJO1DV+K7brkWRdch2NEFDKP+TAK3UQzR64eOId5KU/DYgECBLA
    WawRhRhgUQCMB9wuSt4tY64vavPioqG1Jq+qLtEDqOKAANaXYNWldZsXpkb1t0KikMVuATZIJDOy
    TTkY+ejQfVPrT3T4S1cAcDnf0CIyKu6bvKtFwfBV3mmazTegQWP/W4ljW7RUK4RMe8dFKxaGdYnt
    dficLimk1HCUiAM4PXiekHe9CbLTn4Y292GQ3hOiKIAXjFD63CJ1yHGL36PHzMubTZn8ln+fagUH
    UEUt1t2y2a0BDDzmpczvH6DSyGu3OAUCVP5YmbG+s8CR3pa4O9QF/LCP+tSVfMNrYQvjDhdk6WrB
    UwByLXisgV/O2TEtnlCVAQ6daGjU5XTvw+cKk0I0KnvhAAAJkFQQieAXkgDf2gkQTd4wGt3BEQfw
    EkRFJpGgk9aEbhr4kt+ru6sbHEA1AAS4AwmRyBakRfXzk9FulUwmqvyx9GJMb5FY8W4pDkHykI86
    4Uq+oUvjRbGHtGkF6nrN/MVzkx9/XMUJl+y6PiLoRWODjrFdjpwv+itEow4o9bKUex+QwWJyB2ME
    JhjgrigCGAedWQezBLa2wZYxL/m9VC3hAKoJIEAJJP0JkKLSlgzwVvpAyez4xLMdKoGE90d0+toe
    xPEGIhriBEh+Sc7S9d/w+/XXp7Z5eJWK8Rftui4iaM26pl1O9fz2vO6vEI3CQTj+dmwGiAIkKFFk
    0cIMYF3E6vGval5aV13hAKoRIEAJJAMlJnELUpb0C1IFQJDdbmmwMm1VP15kvG3G3c7p57+rUaD7
    bgC7l9p7PUTQifomXc68831CYWJwkCrQ6ffMwNngEGldxOpxr2leXl6d4QCqGSDAnUjCE8S5qUsG
    alR+5WC3NFiWEd0HjJmJaLgzEne7roMIBlHfpFNs90PntEnBQepAp0WOYjFwKBK1MEOi1eHRH7ym
    ebnaJeT3UrUDBCiBZBCBSQvTlgz2U/rKb7dUAViZvnoAx0Q3Z+zgWOrzE6FI1Ed2jev5faLubO1a
    SpngsGhhJpHWRq4Y2lbz8oaaAAdQTQEBSiB5T4LEFqYuGVRLpZHXbjEl/FQ+WHphXU8w3kREgwGY
    Zf4EGwyiPqzrqZ7fn9GerV1LIZ+tEiHR2vDlw9tqXq0xcADVGBCgBJLBEMEWpS8d6C+z3VIxFQJU
    PliatvpdxqAa/8iYvgBkiSREBKNoCOt4uuehxLyztWupy1LKfcD4gUORRQczRFoTtmJE26BXq3VC
    fi9Va0CAO3ZL4klakrp8sL/KFwoZ7VYxJMvSV/cQRSreLcWhNe7/cx7rPEdk17ie3yZqz9ap5ea8
    alXJuNlyDhPMtC5s5bC2Qa+ur2lwADUAEOCO3eLA2ILUpYPkrm6pmAp+vA9WpK9+h+eYyTaZ6JST
    ERFMojG866me357WJtYJcmIpt2S8bJHDQiKtiVzxflvNazE1EQ6ghgAC3LFbomhhS9JXDPRX+kMl
    45euVJwK/ip/LElb2Q8SMxHRCEcTd6utMkd2ON3tu4S8cyFBstkqa+RYHb58eDtN2xoLB1CDAAHu
    2C0enHnRpeVD/eEHJSen3VIgQBWAZRdXvkc81LZ5kjIRabNVzbvG9T6YqD0bEuSmka1aZYKFosOW
    TWof9HqNyzn+qRoFCFACyfsiScoll1cOCGRy2y0l/BR+WJ66si8HXm+LJHYt3yUimGAK73Gq19en
    tadDghTylHJ1Fp0NjqVj3wxqt6KmwwHUQECAOzPu4CEsSVvR11/lL3t1y0/lhyWpS4dAFAXb8t1S
    nYyIYLZYwjue7v5DfF5inSC1PKVcnaiHAQZaFb581Ju12q12wWFVjQQEKIHkXWJgy9JW9/FTess6
    mahi1pxk2aXVAxlgJKKRD4KEiGCUjE26JPT84Uxhgny2StTDKOkoOnz5aBccf1eNBQQogaQvJElY
    dmFVT40yEALHyxpJfHlvLL0YPYzxAmdrS7nnyYgIZsnSoNvp3t/G5ZwJCVLLA4fOooOZzBQdvnzK
    W0Hto11w/F01GhCgBJJ3JIKw7NLKrgEIhIqTMSfhVPBV+GJR6pKhvDWSjPnnJ6GJCKIkNux4utvh
    +JyEunJFDqutMlJ0+OLxbwW1X+aC439V4wEBSiDpxsB2L720unsA84WSyTM0dyYT/TEvbdkHEqAm
    oqF3f6PQJFlCu8T2/Oa09szDssIhGSg6NGrqW0FvuuC4j1yA2GSDpAcxiV9+YVWXQGUt2e2WRumL
    xWnLhoAgEtFwADBL5sbdTvf6Ji4/7lG5unJ1Fj0MZKCV4VFj3gp6c6ULjvvLBchdskHSVSTat/LS
    6k4B0Mhrt5gKfkpfLM1YMYwkiD1COm0beX7izricU4/WcpMHDr2ohx46ig5fOqGDC44HyjU69xAR
    IepC1GfLLq3v5i/IZ7eAOxtBGKCHIClg4czw4j3lgcOih450tDw8akqnoA6LXHA8WK4Icg/ZIkl3
    iXHCigurOgUqNRBkjCQKjgdHHpB4EW5MJV/OwRlpeaOoWS44Si8XIPeRDZLOkigeiM5c1yEAAVDK
    BAkA8IyBl+FxFMNhlHS0MnTx1A7BHRa64Ci9XID8i2yQdCSOHYi+tLaDhgXItqWQLNdvyzmKJB2W
    h0XNccFhv1yAPEDFkDDGDqy4sKpDoEq+bU6det3goBe10EkWWhG2aHrn4A7zXXDYLxcgpVBJJJHE
    r6MzYt7QqPwrNSQMHAyiHjrJTEvDFszuHPy2C44yygVIKWWD5E0J+Gp1RsyblRWSYjgKJS0tD4ua
    1CX47SgXHGWXCxA7ZIPkLQZ8uSpj7VuaSma3im2VVjLTysaLp3VyweGwXIDYKRskHUSI363N2NS2
    skSS4sihl8xYFjZ3dqfgTgtccDguFyBlkA2SdgAOrs3Y2E6jqtjqFgMHg6RHoajDsvB5s7sGd5nt
    gsM5cgFSRjHGiIjac+C+Xn0x5g2NsmIgsUYOHQolA5aGzp/dNbjLhy44nCcXIA6oOHEnyfL96syP
    XwtUlC8kxbaqSDJgaaO587uFuOBwtlyAOCgbJG0lsIMxmZva+5cTJHdslRaLQxfOdsEhj1yAOEE2
    SN4Ah4Nr0ze1D1TLC0mxrSqSDFgcuuCjni44ZJMLECepGBJJkr7ZmLm5nVyR5G5btbDRnLk9Q7rO
    dMEhn1yAOFE2SNoDOLg+8+P2gQrnfg6u2FblilosC503r2dI9xkuOOSVCxAnqziSMLAv12V+/Jaz
    EncGDgaLHoWkw7LQubN6hnSf44JDfrkAkUHFk4kS6JuNmVvaBSgcm0wsaR9hOiysP2dhz5AeLjjK
    SS5AZFKx3eJAB9dlbm4fpCjb90mKbVW+qMPi0DmLeoX0mOKCo/zkAkRGlSTuYN+uz/z49Vp25iQl
    pVyLDotCZ0X1Cukx2QVH+coFiMwqbkthoK82XNn8ZqBQukhyNxwLGs5a0juk10QXHOUvFyDloOIu
    YBLp2/XXN78eLAT+KyRWOEwotBRibsM5K3vX7TXBBUfFyAVIOak4kkigoxuvfdrmftUtBg56SQet
    uQhzG89e/e5DvUa74Kg4uQApR9kgeVnipZ8+ubLteX/h75AU2yqtRY/5YR+u6BPSe4wLjoqVC5By
    lq0LuA1EHN907dNWAbwfVLwKAFAoaqGz6LCg0ew1LjhcqtEiIvW85EU/1vsxlB46Wo9CDjeg8J8f
    t3x+bd88IidvjOVSmeX6iapAEZEiqTC5zanCuKcUnFL3X99nfwhR105wRQ6XXHKpSuj/AUgr98ue
    REWAAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE5LTA1LTAyVDA2OjAxOjE3KzAzOjAwOaeQywAAACV0
    RVh0ZGF0ZTptb2RpZnkAMjAxOS0wNS0wMlQwNjowMToxNyswMzowMEj6KHcAAAAASUVORK5CYII=" />
        </svg>

      </a>
      <a class="py-2 d-none d-md-inline-block " href="#">
        <div class="navFont">Home</div>
      </a>
      <a class="py-2 d-none d-md-inline-block " href="#">
        <div class="navFont">Product</div>
      </a>
      <a class="py-2 d-none d-md-inline-block " href="#">
        <div class="navFont">Features</div>
      </a>
      <a class="py-2 d-none d-md-inline-block " href="#">
        <div class="navFont">Careers</div>
      </a>
    </div>
  </nav>
</div>

<div class="position-relative overflow-hidden p-12 p-md-5 m-md-3 text-center">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Start learning about IoT</h1>
    <p class="lead font-weight-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with
      this example based on Apple's marketing pages.</p>
    <a class="btn btn-outline-secondary" href="#">Coming soon</a>
  </div>
  <div class="product-device box-shadow d-none d-md-block"></div>
  <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Another headline</h2>
      <p class="lead">And an even wittier subheading.</p>
    </div>
    <div class=" box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>
  <div class=" mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Another headline</h2>
      <p class="lead">And an even wittier subheading.</p>
    </div>
    <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Another headline</h2>
      <p class="lead">And an even wittier subheading.</p>
    </div>
    <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>
  <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Another headline</h2>
      <p class="lead">And an even wittier subheading.</p>
    </div>
    <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Another headline</h2>
      <p class="lead">And an even wittier subheading.</p>
    </div>
    <div class="bg-white box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Another headline</h2>
      <p class="lead">And an even wittier subheading.</p>
    </div>
    <div class="bg-white box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Another headline</h2>
      <p class="lead">And an even wittier subheading.</p>
    </div>
    <div class="bg-white box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Another headline</h2>
      <p class="lead">And an even wittier subheading.</p>
    </div>
    <div class="bg-white box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
  </div>
</div>

<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" width="54px" height="54px" viewBox="0 0 200 200" enable-background="new 0 0 200 200"
        xml:space="preserve">
        <image id="image0" width="200" height="200" x="0" y="0" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMgAAADICAYAAACtWK6eAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
    AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QA/wD/AP+gvaeTAABA
    jElEQVR42u2dd3wUVffGnzszW9LbhoQgvio1CQlFsL+i2BBUkI4UqYI06b0I0kMNNYCgdKWIio2m
    /iwoJBASCKaQAKGH9M32mfP7YzcBfUGy2Z3Uff7zI5lyZ757nnPuuXcAlypMRAQi8kwrurD5ki5z
    KxGpiaiiL8sllypeRMQduHlw2TO/t8l67Fgo1fuxCbU70fHGqYIzXVyQVB6xir6Amigi4rZmbt00
    LXlufwUvwJN3hwQg35wHD4U3bYlY1/lpvye/YMz1eCparidQziIi9knm9g0zLnw4yAveUPMqECQA
    AAOHAksBBChoa7OYN57we/JbFyQVK9fol6OIiG3J3L5pZsqcAV6CO9ScWwkcxWLgoJW04KCkrZFr
    XZBUsFwjX04iIvZp5vZNs1LmDHAT3ODGuf8PHMVi4KC1FIDjFfRpk01tnvRv+ZMLkoqRa9TLQVY4
    dsVMvzB9sBd8/mar7icrJFooOJ4+idz431Z+rX5zQVL+4ir6Aqq7iIhtz9y1dnrKrEFezKtUcAAA
    QYKn4AkjmVm/c0N+OZlz8gVXdav85fpJklFExLZf271myvmZQ70Ed3avnONBYuBQYC6AwKtoW2TM
    8638Wv3qiiTlJ9dIyyQiYjuu7l41OXnmMC/Onal5++EoVnFOwnMK2ha5uXVLvxa/uCApH7kslgyy
    wRHtDDiAYrvlDTOJrG/CgJ9P5sb912W3ykcuQJwsIuJ2XP185eTkWcO9ODeH4Sg5LiR4854wSWbW
    N2HIz7G5p9q4IJFfrjjtRBERt+vqZysmJk8b4cV5Og2Ou1U8majgFLQzckvr5n7NXXZLRrkiiJNE
    RNzOq5+tmJg8UzY4AFskEbxhJjPrkzDw59O5p13VLRnlAsQJIiJu17XPoqcmzx7hzillg6PkfJDg
    zXtDbzGyPucGHTuVe/oZFyTyyBWbHRQRsV1X9y6fmDxtlCfnxtxkhuNuMcYh35QHFe9OOyM/fq6Z
    X7PfXXbLuXJFEAdEROyzq3sXTU6eNsqrnOGwnl+Cj8IPJtKz3ucG/RKfG/+UK5I4Vy5AyigiYrtv
    7Fk6OXn6eHU52Kr7XgdEePM+0Bt1XO9zg36Lz49/2gWJ8+SKx2UQEbE9N/YsG5804wN3Tl3ukeNe
    YoxDnjEP7koPaXvkpmea+TT702W3HJdrBO2UFY79S8YnTR3jwakrLHLcU4xHkSUPCs5d2tF0y3PN
    fCKOuyBxTC6LZYeIiO25vj96YtLUMWpOUbngAAAS4cn7wGDWcX0T+/96Kj/xSZfdckwuQEopImL7
    b3yxYmzK1OFqTs08eM/KBUfxdUKCj8oHBcYirl/CwN/j812JuyNyxd9SyGqrvlg1NmnKMC+mZmqh
    kkWOe4hjPPIsefDgPMUdTTc/GeHTJM5lt+yXK4I8QETE9t74YvWEpKnD3DlFlYADACQS4cP7oMis
    5XslDvgjPj++lSuS2C8XIP8iGxyrxiVNft+NU8lmqxg4mCQzCi1aiERgTnosxXaryKgV+iW891ti
    /tkWLkjskwuQ+4iIuC+uH1gxPmnSMHcZJwGLl9aqOBVCPRvrdFQEk2R2HiRkhaRQ1Cp6nel3PEl7
    zgWJHXIBcg8REbf/xoGVY1OmjFRz7rLDoRSUlnWRq0Z83Wqfz8A6A/bmiDkwkZMh4X1QJOmU3U4N
    OJ6oTWjpgqR0cgFyl2xbgXL7r3+5clzSlOEqScXcZYKDA4cCUQuO400fh8eMeNKn5RrGmGVK/XFd
    R9QduuW20cmQwAqJ3lyo7BU3+PezrkhSKgkVfQGVTNyBm18vG/PXhOHuMkeOXEs+1LzS8EmTmL5P
    +LfcU1xhYoyBiAYQI69VGTFdNEp/KDmF0xZd+ah8kG/JV7wTN+D33Y9vfoaITrmqW/eXa2RsIiL2
    xc2vosYnTR6rgIK5C+6ywVFg0UIp8JZN4es7P+P/1Ff3ekGJCPPSFn2+6nJMV43gDyVzDiTF15Av
    5sOD8zLuarH5uXDP8FgXJPeWy2LBCseX179aPP7c5LECeNngKLZVSo43bwqP6Xk/OABrJJlWf1K3
    kXWH7JfLbhWaC1W94gf9el57vrnLbt1bNf5ng4jYgesH536QMm6KO8lbrcq35EPFKYybImN6PuP3
    VKk2pyYizE1b+EV0RkzHWsoAp9ktAOAYh1xLHjwFL+NnzbY/GerZ8IwrkvxdNXo0iIh9df3rj0an
    TJqilBScnLZKa9GCY7zx48j1PZ71f+qAPS+iDZI9qzM3dtHwfk63W7liPnwUXvqdTT95Nswz9LQL
    kjuqsRaLiNjXN7+b9cFfk6YoJF5eOCQtGONNHzdd19NeOACr3Zpef3LXEXX6H8gyZzvdbvnzPsg3
    FLj1ie/361/alCYuu3VHNRIQImIHb343a9i5D2aooeQ8BPlmyAssBeCJM29uuqbHs35Pl/mbH4wx
    TG84/e1hdQd95WxIJEjwV/ki21Lg3uN0n+OpRakuSGyqcbHUGjm+nTUmafx0gSl4d15OW6UDz2De
    GLG+93MBT3/uDOtCRJidNu+LmIubOvorA5xqtzhwyBHz4KPw1u5uuvW5xp6NanxOUqMiiC1yzBmV
    NH4GD15eOCQdwKSijU3X9HAWHIA1ksyqP+3tIQ8P+irHnA2LsyMJ74t8Q75n7/j+v53X/hVR0yNJ
    jfl5ICJ8e/OHWUPOjZzpztw5D5m6cottFcc44ydNN3R5xu/pg3L8ChMRm5Uyd//azE0dgxQa50YS
    xiPbkgN/3r9oT4utT9XzqH+2pkaSGjGTTkTs25vfzRmRNG6qB+fGydU+UmyrFEwQ10esGSAXHADA
    GCMi6sQBn8dkftzFX+E8uyWRiADeHzlijkeX+D7Hd0d++hQRnauJkFR7QIgI39/8YdqIpHFTFeC5
    crBVxpiIdYOeD3huZ2lfKJuNUV66gaBLRfo6FgtZ/FTq7PAgLkvpBu2/TCYSEXWVgAPrMzd3CFQ4
    b8Zdggh/3h85hhzP3okD/tje5OMniSippkFSrQEhInx749D04UmjPlQy+atVAGf8pNm6Xs/5PbfP
    DjgUBxMNT0cnfjf6vOn3VibVZW8JBjVvqXVVY4483SHkte90Wtrv5oGcex3T1rv1NoO0d13m5k6B
    TrRbEkT4q/yRZczyfCex/x97mm59goj+qkmQVNs7JSJ8d/OHqSOTx87hJYH3kLlaxTFY1jdd3e8F
    v//uKO0MOUQoB3154oPdhYunBDyU5OflRhCIAyBA4swwWETczvJBYHbf/9veZnj/VvVY+v2OTURs
    ZspH+zZmbnk7wImRBAA48MgWc6BR+BXsjtzWsr5X/dSaAkm1vEsiwve3D00bkThmNg+OlzNy6CQd
    LCQZN0asGfxiwPPb7IgcQo/Pfxn3FZs0r3HdHB4WTxDxfz8+A5jCiNtaLfQp76QcazendcQj7Ma/
    3feslI/2bLjycZdAQQPB2ZCYcqBxq5X3edPNTz3mUT+5JkBS7cq8RITvbh+aOixxtOxwFFgKYCHJ
    uClidX874cCqn2+9+ZV53qzQ/2TzZPb7Hzis/w6QTCpoPLyhaLiz4bvHtq0gM933JIwxzG44o+vg
    2gO+uGG55eTJRBEBKn/cNtz07XKm758XitIb1oQScLUChIjww60jU0cmjpmtAC87HDxxlg0Rqwe/
    ENB6lz2/pmYDhHXpOwY/VDfNTTL5Ag+4RsmsQrC7ChfUOzpuibv18r9eG2OYEzqz03u1B3yRbc5z
    LiQkwk/hizxjnk/3U71PXChKb1DdIak2gNjgmDLsr1FzeHCC3LaKY2Re13T1gDYBrUsdOYp1KK3o
    vzfVx571VLoBpXq/JEiSG3w0l1VfXj7+3oNeSsYY5oZ+2GlA3V5f5Di5LQUAfAUfZJlyfHqcefdk
    WtGF0OoMSbUAhIhw+Pbhae+fGzFXEOWOHFqQaDGsj1jfryxwEBFO37hSX+l9y4NE3o4/5OHuZkFa
    UXIriHjgHzLGMK/h7E796vbZf9uS5fQGxwCVD7KNt3x6nOl7KqPoYiPnjnTlUZUv8xIRDt06Om7E
    ubGzBShkLuVqAUjmtU3X9G8T8PzusiapeWatH2Mis2v4CfBQKpCovR4yZO/1/UTUkTH2rz/dthJw
    Z4jswObrWzvUEgIcStwZbwEniABMABTwVypRYLqs7nG2c0J60YWQxzzqZTt94CtYVRoQGxwTR/w1
    ep4E8N4y2yowybwxbM3AFwNeKDMcAOCp9MgnA28GjCo8OBgUXwQAAZ68l2LDgYw3VUrd/xFRa8bY
    v96wDZKOPOjzDde2dQ0sy4w7J4JX6CHpfZF341Fob9WH2eAJxlvg5nMbBb5/Kt9h3U4n6U90CFW3
    qlbrSaosIESEI7ePTnj/3Mj5PHhZ4SiwaAGSjDGRa/q9qHEMDsYY9p4uuGFMDjTA/5KqtJfMmAhA
    gjn/McCHZ6u+zngORHuIqAdjzPygcxJRNwtPu7dc2dZdI5RyMpE4cIIJHG/CjfOv4Pr5lyHm1ba+
    NRYG8GQttQldcDP417pts8b9FvV0rxFEtLm6QFIlASEiHM3+adzQhFELGON5T9ltlSjGRK4d8JKD
    cBTrtXpeiT4nn71gpJQWKuZeikSdAycYoM+pg8Kb9QClCCh4rDp4sRMHaScR9WSMWf71XqyQ9IAI
    1ZZrOztqFA9amciBV5pAJCLl12EoSHkWUOgBtQ4AAQrbRRMDSAAuv4zLN5q49ctdGqN7RZ9DRHYv
    DKuMqnKA2OCYMCRx+HyBF3h3Tt7dRzhI5tURq4a8pHmh1L1VD5KnF9KH1Ou1f87lH5qE1rullAw+
    wL+8qIw3gVOYcC2pLaB3B9y1ADjAA1h58FIXCZxERL1KCUkncNi75dLOTrXUfvfNSRhnBsGCjN8G
    oiD1aUBdAHDiPQ5KADMDbvmA2Q/64zOECW4ffRrevtmLAE45/cGUs6oUIMVwvHfm/QUCE2Rdz2GF
    A6bVEWv6vap5wa55jgce3/qiLvlt+7TIX65M6PZoSD6Y2RP0zzlABvC8DpzShMwz7ZGX8Ryg0t+J
    OAoO8FBg1cH0boyHRER9SgEJEVFnAJ99fHlbt2DVPWbcCeAUemRfaI3ctBcAdeG94finFAZA54Xb
    f/bxnld3TTQRtWGMmZz+gMpRVQYQIsKx28cmDDk7ciFjguzVKh6itCpi5WBnw1FyHsaMFj2N6PzF
    ctPRCwt7Bda+wLzd3awPhHiAF8FJZpgtPrj8RydkJbUHeAPAWVDSIUQAFAzwUCL6QHoPiBBskcT0
    gHODiLqTSPyWa9s7Byn/DgkTLCCjJ66efRngjQBnRqm7kty1QEEoDiUeafJL+DcdAXzu9MErR1UJ
    QIgIP2b/PGno2Q/mC0yQtWW9yJZzrIyIHvqq5uWtcvpowY1lEVHfzb83+XXDhYP90+n3SC+fLDe1
    ygSz3hcFtxog+9LjsOTUAVQG26/4P66nGBIvJaK/TO/C8xzsyEm6gMeOLZe3vxOk0kBgPAgAx5tQ
    eKs+zPl1AMEA+1r2COAA/ZVIt2M3f3mViJy2mrIiVOkBISIcy/557HuJw+aDOM5TZjhESOKaiOiB
    r2le/rQ8HqxtLiOGiD756OAbH83cmzgGnpwA5gaIPMBLgFsR/jWTJwA8A7yVWH4grQs4SSKidxlj
    hgecG0TUCwTFJ1e3da2lCALPeICJ0OY+DFgUgGC0/6Z4ESiso0jKO/eY7AMosyo1IFZb9X9j3z87
    IgoETs5Srg0OKTpi2fDyguNv18CYkYgmZpvrP7HyQGpreBoBFVDKXhSrFAzwVGL5/vRunATBnhKw
    yMSD2y591r6Wmx8E8LAYfQBOKlu/NxMBixfy9UY1YC7DASqPKi0gRISfsn8Z897Z4VEC4zhvGT9e
    U2TRwgJRWhuxYvBrmlcrrIZve1nbE2f5KfpAWktwSutLX1pGiu2WpxJLD1zoBMbtsCXuxlKc900A
    +3Zk7no7WK0G400EiSvbQBAHwAyFwJlLPRFaSVUpASEi/JT7y9hBicOiBOJkzzlESLQ2bMXwioSj
    5JoYKyKiVwHpq+gv05+DhxIQ7LimEkhUWPplWldb4t6tlNWtToy473fdXNda4ZnJQyAFCPZHEYkD
    vG5b6nr7Xq3q7X6VDhAiws+5v44YFD9sMSBx7rLaKh3MEKU1YUs/eC3o1fUVDUfJtTGWS0RvMGKf
    rzyQ+iq81VZI7I0kbkos/TrtbRKww455krbEivZ9qj3aGqqCAJjc7MtDGACLEqiVZGitCT9WWca0
    rKpUgBARfsn+ddTgxBFLOA68J+cts60yW9ZGrHyvrea1LZXtQTLG8omok0Rs36qvUl+Dp8r+SKJk
    AFNi2b60bgoOZiLqV0pIOpvY4C3R5w91Rlp3L/Am64RgaWRWAqoshDZOvtg2cOJ2YFhFD6VDqjSA
    WCPHbyMHJw5ZBuJ4T1lzDh1EiBQdsWJoZYSj5FqtdqsLmLRn1YH0tvBWWqtVpdVdJeBF+9J6SRJA
    RANKM09ipPyBvz3eOSTuastXYPoPg1KLB3ot4gGjJ9Dk45z3I57e4MtCDKjiqhSAEBF+zf119OD4
    95fI3ZVbZNHCBDOtCVs+vJ2m7ceVFY6Sa2ZMS0TdCGzv6gNpr8JbVTa75a5E1L60XuDB20rA/wqJ
    ivlIvxV+M6tdzoKH8n+aGgp9MINbIe57YosKMKqBR3bk9Xwxb+fIOptWj8LMih4+h1XhgFjhOD5s
    wJkRS8CB95bZVplgoeiwZePaBb2+rrLDUXLtjBUSUSeIbP/qb1JftSbudiS/xXbLS4moz9J6WJtw
    qf+D5kme9Wr/x5c5WyeMUi2acOn3bk8gu6U7eA7gLSgBReQASQUosgiRm2680zpv/6aIj8dUlbF9
    kCoUEBscIwafeW8ZCLLaKp3VVknRYUuHvxnUrtIk5KW+B6vd6gyIe1cfvPQavFjZ7Ja3Egv3pfVg
    BGbLSf4Vkrf8+nz72MsNMuY+vLzDoVM/Dcy9+ngw8up4QPJggAlwyxWhScoKD01JfT/yhd3Da09e
    W9XG9t9UYXdCRPg15/ioAWfeWyZB4r0F+SKHzqKHAXpaFbZ81JtB7VZX5QdIRF7D9l34Yt3BtJfg
    Zafdsg4IYCKg0ITJ3ervX9D+sXceNE9iOy87qf/xmUM3jjVLyr3eLNegr6XklYYQb+Xt/2qaxb8e
    0GmrHx9chmn3yq0KiSBEhN9zj48YmDh0mey2StTDCB1Fhy0fXdXhAO7YLYnYvpjvU1+GWxmrW9ZI
    0onj8CkR9QVg+rexsbXE/EZEv+FRADACUADgYP27ql2tup/KHRBb5BgxIOH9ZSBJ1sVOOosOZjLT
    6vDlI94Ial9tQj9jrICIOoLEL2O+TbdGkrLYLXcl5u/J6A4iNq9dvYFEpH3QGFWXMSytyhUQIsJv
    uX+MHJw4dJlEZsFb8JEPDlEPA2eg6AZLP6hOcJTcozUn6QiGvTHfpL9WJkiUDACH+XsvdCPwwvx2
    j/QiIkN1GytHVG6AEBGO5/75/uCEoUtFkmSFo8iih5EMUnTo0pFv1X6j2sFRcq/WEnAXAPtivkl/
    tWyQcACUWLA3pRPPsP2j1x/pS0S66jpm9qpcACEi/J7zx4j+Z4cuFyVRkHX3EYsOFphpZfji0W8F
    VV84Su7ZCkl3Iuzf8G36i/BSAnwZSsBQYu5nFzoTE9nctvV6oKq34TpJsgNiixwjBiUOXWGRTLyP
    zLbKCBMtD1s8ukPQm6uqOxwl985YHhF1AOGrDd9deqFMJWAlA7w4zNud0YkHv9VWAq52VSl7JSsg
    RIQTubFD+ycMWW4hkfcVfCDJBIfeooeeDLQidOGkjkFvRtcUOErGwFrd6iBx9MWmbzLalC1x5wAv
    YM7ulB4EMCLq/aDereou2QAhIvyZ++fQdxOHrJJstkouOHSiHkbOSMsbRY19O/jNFTUNjpKxsFW3
    mERfbvzuYtnsloIDvJT4aE9qd84KyQO7gKuzZAGEiPBHzsnBAxOGRZvJJMhuqyQjLQ1dMLlTDYaj
    ZEyskeRtiNyXGw9fag0vBtiz7qmkVV7A7D0p3cCYyda75fwHWAXkdECICCdzT/YfmDhklZGMCl/B
    FxJKsWWMnWLgoBf1KJL0FB22cMLbwR2X1nQ4imVrlX9DFOirzQczXoSvyn5IbNWt2Z//1ZsRSUQ0
    sCZGEqcCYoXjVL9+CYPXGcms8ha8ZYNDJ2phkiy0Imzh+LeD317mguPvslW3OjCwLz/+Jv1FeJdx
    noRT4cPPU/tKDApbTlKjIonTACEinMw/1atf/IB1RogqOXurDKIeBslIS8IWj+8c3NEFx31ks1tv
    iaJ04JPDF1+CZxkiCc8AdwFzdqf05DgQEfVl1o2Ca4ScAggRITb3VJ++ZwasM8OslhMOvaiHVtLS
    8sZRE7q44HigbJGkEwP2b/k+4yX4qO2DBCixWx9uT30HEuNskaRGQOIwINZSbty7/RMGbjDDrJQb
    Dr1koBWNF4/tHPJ2jU/IS6uS3i2OfbXl24wX4VOWnIQBPgI+3PNXD8bA2Tanq/Z2yyFArJHjdM8B
    Ce+tM0rywmGwwREVNndS5+BOLjjslC2SdJQs9NWnhy62LhMkPAeoVZj1+V/dGCODbTKx+n5/DQ4A
    YoUjvme/cwM36i1GNx+ljJFD0kMn6mhJ+LyJXYO7LHHBUTbZIsmbEoevtn1/8QW7IQFsbSkqzNye
    2pdjTEdE71fn51EmQIgIp3NPd+93buDHeovRzUflDSI5E3IDLQpdOLFrcCcXHA6qeMadEb7c+kMZ
    ILnLbk3f+dcQxiAS0Yjq+lzsBoSIEFtwunu/hIGb9aLRzUchLxxFkp6WNJo7rmtIp+XV9SGUt2yR
    5C2JcHD7oUvPw0dZNrvlrmLTdv01TJLAiGh4dXw+dgFCRIjPT+z+bsKgjw0Wo7uctsog6VEoFtLi
    0PlTu4Z0dcHhZNkiyZuA+M32H64+Bx+FffMkQLHdYjN2przPcRCJaFR1e06lBoSIEFcY/867ZwZt
    Mkp6Nx+Vj+yRY2no4jHdQjqvrG6DXllUnJMQ8Qd3HM14Fp7qMk4mCmzajpQRZN13q1pBUipAiAjx
    BfE93z09aJNe0rn5CPLDsbDRnCkuOOSXrVW+HcC+3XH04rPwKqPdchPY9M9TRnAMREQfVJfn9kBA
    rLYqoXPvhEEb9Radm49SvsZDg2RErlhIy0PnT+0R0n1RdRnkyi5bJHmdYPlu56Grz5bJbqk4gAls
    6o6UkdbdS2l0dXh+/wqINXIkduh7ZsBmvaTzkNNW6S16aElLy6xwLKwOg1uVZMtJXofEfb/zx4vP
    lM1ucQAnsCk7UkYxxiQiGlvVn+N9AbFGjvgOfRPf21pk1nn7KOW1VQamp4X1587s6SAcRNZ5q6r+
    YCpCxZAQ0aFdP115El6KMtutybuSR9siybiq/CzuCQgRITH/7Ft9E97bVmTSesmakEt65Is6Whw6
    Z0avkB7z7B1MGxDK67nw++uWqe6B+Dx/bzf37KvZdCPEHzcAiFX5AZW3bHarnQQ69NnRq4/D105I
    gBK7NWlb8hgOhKoMyf8AQkSILzzbse+ZAZ8WSfLDUWjR0aLQWTPLCAc7lYGmc08cHhOnO9ra5J6m
    EZnJDaSyeOgePdfMvc2hSS1fiyGii9W9JcKZYozlENErjOOO7T6c2czunOQuuzVhW8oY28d5xldF
    SP4GCBEhXnu2U9/TAz4pMmu9ZLVVNjgWNJw1vXdIr/llgEOx4qfrnWYlz53n9shP9TR1LRCgBANA
    gNKCxOZ/ag82b/vjfztOyZg2nYj2uSApvYo/4iNK0vd7frrWBF5Cme3W+B3JY21r3KtcJCkBhIiQ
    qE3q1De+39Yis7wJuUEyIt9SSPMbzv2wd92eZYEDq/7vdofJGcO31I8846YiP0gif9c5rJtiBnuI
    MEUebTT9fOZm6chGMxF9WdUeUEWKMXaViF7tDvr282PXm8HHTkiAErs14dPkMQCqnN0SbBeNJO25
    d3qdeXeDzmL08FZ5yVetknTQmvW0qPHcKb0f6lmmUu75TITNSvloTr3QM25KKQCSdO9jkMRDaQpA
    g4bJXovPfbi4zYWYOABXyneIq7YYY9eJqDUj/PjZrzdawIMH7Hlmf7NbyWMYqhYkgjVynBva69SA
    lUVmnVJuW6W16Glu2MwZvUPKBgcR4Z29v/VS1D4WqmJeIJE94N8DbuQLVd3fGi47dXggEc2uKg+n
    ssiWuLfmeD5p169X6kKtsO+7AMV2SyWw8TuSx/CAlog+qgpr3LmrxquDe8UPiCoyFyp9VPJNApok
    E/IsWprfcObMd0N6252QFysvFx5/an94I9DHBJJUpfobSRSg8ZLwR+GxXnodlLKOaPWVcKvQ5A1w
    Zf9ohpoDlDwb82nyjDW/Xu1fXJKvzOL6xg/eYLToPOWyVQBgIjNMZJEWNJw5uU/d3nMd+QX/K196
    pIhPDwbH2/VdDBVTQKtOe2jCwWsxVeHBVBYREYjo0ZbL4mKPxt30gZsDa+yK990yiCzxetGjFX1v
    pZFwRX8VHrynbHAQAJ1Fi94P9/7u3bp9Fztqb4qMOoWo0AoKUtj1d4zn4edpVq/Zn9LLy00MJqJ2
    rqrWv8v2Q/JIyxVxR+MSsx+Fjwr2fa3nH5IIKDDjpdYPJa7v2rBKdGgL7rxaFltVLOsG+wpc0V16
    1PafDr2UHip3A2/2NJmZGQqoS/+HkgiIXgxKpWLhvrTXOF4s/na4C5L766HmK05/F3/GBocj7zMR
    kG/GS08HnT8ypMmLjLHsir650kgwkRkqppIVEi/BHceyfw4bem7U/xHRKw/6Lt6/qbE/d8FDbHAD
    0sngUuPGAMaJ0OXWAQQ1oDCx+fsu9GRMzCGikS5I/ldE0kMtV5w+En8mq5HjcADINaDNM3WSjwyJ
    eKmqwAEAghIqMkpGpuJkhIQB3rwvvrjx9XMC+K+I6K2yQuLrDfNTHi/9eSh/b7O6fkaQ+OBEnXEi
    JFGJvMuPA7AAKgYIHOZ9dmEYA0+2NQwuSGwiojqtVpw+EpfgDDgIyDOhzTN1ko4OiXiBMZZV0fdn
    j7h1ESu6FYm6Ip2oB4MdGx3bKZ4xBCkCse/GF68MPzd6JxGVrgT1DzHGMOPZ5zZK115JMVIhGPeA
    95oBgjoPty48B/3t+oDCYP1F4zjAS8nmfpY6fMb3F1cSUeU3xOUgInqo5bJTx2LPZDWCtzPgMKPN
    E8FJR4dEtK5qcAAA95Tfk3tXhkWN1ks6i74cIAlU1MKeGwfeHnFuzD4isiOJuKPGIYib3XjK0ozk
    ZhYjlwVOuPceZoy3QOGej7zLLXAlrhvAjMDdQCkY4CWwuXtSR8z65uKamg4JkRTSMvr0kbiE2w2d
    YqvyDHjxqaBzR4dFtmaM3a7o+yuLBFslYdOB6wfYqKTJ6wDwbrybbHaLZwzBilr4/MYX7RlYcaJs
    l91i1j7qDRZajTkJC6Yp/3P0YY23BAEcGDjwPAABkExKXD/3Eq7EdgdEJaA0AHczUFx29BTYnL0p
    Q8EzS3VbMlpaEVGdp6NPH4mLz2oEvzIF97sPBuSZ8MJTweePDY18oarCAdzVi9UhuMNGkZFq3Lkp
    Kwjg3csBkr039ncC6DMi6sEY09tzjGJIWteNjpt/4sh7cdePPqd1Sw8SOa23ILpzTPcYX3C5BfQ5
    jwEkAQr93+EoVrHd8lSyOXtSRjAQsyXu5fskKlBE9NATK04dOXnmtjXncOxgQJ4ZL7SqnfLj0Igq
    GzmKVQKI7YVbDYI0JmliNCuHSBKoqIW9N754C8BuIupelkgCIA7AkOvZpLiQa2mRZ9I9NnH/paVJ
    SYW14c8DvAFgIh7oF6zfxGCzd6cOByBWlyWjDxKR9NATy08fPelEW/VCqzoXfhwe8d+qmHP8U3+b
    FrVBspaBxNFJk1cDEMoDkj03vniLgd9DRN3sjSTFqh3AzAD+BPCn3iD9Grn01MXUtGzO+otYiqde
    3FTnK7DZu1NG2TZEqzJNdWURkVT7ydXxh0+ezXICHNbI8Vyr4PQfh0c8yxi7VdH35wz9T9+ADZIY
    AmcalzRhY3nYrVqKWth7Y98bjNHnjkBSLDc1l2mU6D8Ri2L/SEnOqQNfNUo1YUIAmLW69eHnqWMY
    MZ6IxlTHEjAR1XkqOv7YifjbDeGtdAwOAMgz4vlWQak/D2/2XHWBA7jPklsbJFskUXIfkzx5JQfw
    ahkhERiDRhGI3df2vUHAfiJ625HJRABQceyKSbS0abIo7mBKcm4D+KpL/xLY7NasPSmjyLquekx1
    iiREFPRMdPzhP+NuNoSfHeNyz4MByDXg+ZZBF34e3uzZ6mCr7tZ9O89skKxhPCyjk6asJYCTy25Z
    v9PCEKSshc+u7WnLg9ttS9wdgkTJCyk6M7WLiDpx8EJaQSN4lbJN+641DB/uTvmAA0m2JaNVPpIQ
    SXWeXR1/+Hj8zVD4l6nKfvfBgAIznmkVlPHziGbPVDc4gAds+1NstySQakLS1OUM4OSMJFZIgvHZ
    tb0dCMwpkLgrWJrRbGkTGhV7OD2tMAzeSpTabvEc4CGwmXtSxwBMqOobohFR8DOr448cP5XVGN4O
    VqsAoMCIZ5oHZfw2otlT1clW3a0H9i7bIImGCPogeeJKX4DJbreUgdh1bXcHItpl+1CLY3ZLIVwz
    mS2tGy069WNGak4Tu+yWkgMgsJm7U0ZSFd4QjYhqP7P61NHjJ7MaO8dWGfF0q+oNB1DKrUdtkKwi
    iPyE5OlLy8VuqYKx++rejjzPdtogMTpyXKVCuF1ktLRrsiTu+4wLBWFlsVuzdqWM4jmYiWhCVYKE
    iGo/uyb+6PHY206zVU8/Hnjx92oOB2DH5tU2SFZIgDQlecYyJnPizoMhSB2AnVf2vs0kto2I+jgK
    iYdKyCwyW9pELoo9diG9MAzepVxTcpfdmr47ZSwIEhFNqgqQEFHIs2vij/x+MisUvk5YTFlgxDOR
    QZd/G9W02sMB2Pn5g2K7xXiYxidNWwOZcxKBKVBLqcG2a7u6WggKZ9gtD4VwU2e0vNEkKvab9NTC
    UPjZsfDKare46TtTxnMErrJHEiLSPL/u1KHfT2SFOmyrACDHiKcfD7r426hmT1THhPxesnv9pA2S
    9ZLEFBPPT1sOBl7NyWW3JGtbiioYu6/u7sjz2Gr7DLFjibtKyNAaLW2bLIn9/mJKYSh87bZb3NRd
    KWOJh0hEkysjJEQU0HpN/I+/nLwd7rCtAgE5ZjzZMvDK7yOrZ7XqfirTAuPinISHaJpwfuZaCODk
    ggQotluB2Jm5pyvHSj5D7BAknirhss5oeTlsSezhixfKZLe4abtSJsC6IVqlsltEVKv1msRj/3cy
    K9xhW0UA8kx4omXgjT9GNnuKMXa9ou+vPFXmFfjFJWCRwE9MnrYKVA52S6XB9sxdnSFCclIkuVZo
    NLeNjIo9nJGqbQS/UpaAgRK7NW1nynhYy1uVAhIiCn5+TfyPv5y82diuat09DwYg34hWzQJv/Dmy
    WSvGuKsVfX/lLYc+A13SuyUxxdiUqct8mXyRhCBBYAy1lEH49Nqurjw4ztYq71Di7qVSZOYbLa9E
    Lj71w6X0nFB4l/KlKrZbTOCm7UyewFtLwBVqt4jIr826xCO/nMxqDF8He6sAKxxNNVdPjG7eqqZF
    jmI5BAhQAslKiYdl0vkZqyCAyQeJtQRcWxmIT67t6iwBkjOqWz4qIVNrMr3YJCruh4vp2qbwtCMn
    ETjAXWCTdyVPgHWLnAqBhIi8Xlwf/+NPsbfC4aO0b/fDe91XrhGtWgZeOzGy+ZM1FQ7ACYAAd9pS
    iCSPickzF4LknkxUIEgZiG3XdnSVwHhbdcvkyDE9lcqbWqP0eviiP49cuqQNg5e9dovnJu9MnQCe
    SUQ0tTwhIaKANutPH/vpj6xIhyOHzVY90bzYVrFr5XYjlVBOAQQogWQxMaIp56cvAuOYWqaNIO62
    Wzuube+kACuubjkGiYq7Xmgwt2208PTha5dyGtlnt3iAY9zkbcmTmDWyTS8PSIio1ktrE479eOK2
    NSF3AhyPR2hu/Tm6+RM1HQ7AiYAAJZBEMZFTTE6ZMReCJKvdskISiE+vbu8u8eCcYbe81IrMAqPp
    1YjFcd9fytCG2jXjznOAu8BN2pY8hbPO28iauBNRwEsxiUePnbzhHFuVb0TLpoHXTo5u3rIm26q7
    5VRAgBJI5hMsmJIycy4Enqk5pYyQKBCg0mDbpe1dbd+g6ONodctbpbycZ5DaRUb9+d3li9rGdtst
    4rkJu1LGgYOFiKbJAQkR+b4Uk/jjsd+vNoGfm3MiR9PA6ydHN3PBcZecDghwBxIRnHp6yvTpEHxk
    tVtKpkCAWoNtl7Z34UCCbdGV2ZHj+qq5i3kG8+thC2IPXbuc3wA+bih1F7CKBzjGT9iePBkSOCKa
    4kxIiMjv1ZiEn44dvxnhlMbDfCOaRQTejHVFjv+RLIAAJZDMBCDOSpk1iwSJuclYAlYyBWqpNdh6
    ZXdHTuKKe7cchERxMddobhOxMPbIlYv5jeBTyhnp4uqWG89N2JkykXGQnBVJiKjWyzEJR47+cTMC
    PgrHbBVgyzkCr8eObf64C47/lWyAACWQzAYgTE+ZPo3Jarckq91S+GHL9W3dwYjZ5kkc+gaFn0px
    JVdvbh8RFfvdlQxtA/jYYbcEHlCCG789ZTIHwFFIiCjg1ZiEI0eP34ywtsc4Xspt1jTgeuzY5i0Y
    YzccGafqKlkBAUogmcGBpEkp02f4C75MKbPd0ggabMrc3g2MiUTUz9Hqlp+b4kKe3tymUVTskZsZ
    +Y3g7QaUdnGhmgd4cGO3pUwGeGaDxO6ViUTk+9qGhKOHnRE5CECBEU0jA26cHvt4Sxcc95fsgAAl
    kMwCJExNmTPDsxzsVm2VBp9e2d6TMY7ZSsCO2S03xZU8vfml0MWxR69fzm8EL3vsFg+4gxu77fwk
    oCQnKTUkROTzyoaEH48cv9kU3mX4LPM/VWBEi/CAzLhxj7esCS3rjqhcAAHuQCJCUsxImTOZU/BM
    xeS1W/6KAGzO3NqDSTAT0QBH7Zavm+Jqrt78UlhU7LHrF7UNS718F7BCogI3dtv58TwvmoloRmns
    FhH5td2QcOzI8ZvNnAJHrhEtIjRX4sa1aOWC48EqN0CAEkimggObnDRzkkYZwJQy5iRKpoBGEYgN
    mR/34YgTiOhdRyOJn5viao7W/HrDqNhDtzPz68HLbrvFf7AlZQoI/INm3InIv+2GhCM/OAMOW7Uq
    IiLgWty4Zo+74CidyhUQoASSKURMmp48e4q34Cmz3WKorQpGzPUtPWHdnWSgo5OJ/p6K9Fy9+YXQ
    hbFHb1zLbwgPO+2WB+M/2J48SSKeu1/vlg2Ooz+ccFLkKDCiWWjgzdPjmrvgsEPlDghQAsk0koif
    kTp7Iq/gmVI2u2WdTAwWNIi5/mkv8Ix3Rk7i56a4kq03vx6+MPb7G5lFDeBtx1AKHCDy3Jit5yeA
    +/t6kuLPnrXdcPbLH47fjISXc2xVRHjAzdMTmkc6AsedbzsSiidfKkOLv5yqEECAEkgmE8BNT541
    PkDpL6vdskISgJiLm3vAuvduf0chCXBTpGfrzS83XHDiaPaVovrWrXTsq26N2XJ+PC+ROxGNsv1x
    0Jsbzx764fi1BvBWOm6r8oyIaOKflTC+RYuywEFEMCA38HDOD32mXZjQNbMwL8Qgipy/SmloqmmY
    lmQ4sSBU1er/qisoFQYIUALJRHDgPkyeM85T8IScdktgCgSrA7Ep89NeEpjSlpM4tM1pgJvicnaR
    +eWwqNhDNy8XNCz1flMldgvcqK1/DVWqeW7Ik7V3vL353NaDx6/VcxgOACgwIiJCcyNhXItmjLGb
    do8ZkXrzzeVzoxOPdjyf/JDGdKuhN/TNrRfF6wh+F+vV+s/CVzpGeqdlGM/1eEQZFl/dQKkUd0NE
    2Jj56fIPUz4a7afwgVx2y3rDHExkRrY5F+893Oez2Q0+dHjGHQBuaY2PNomK++5Wpq6RXXYLAMwS
    oOAQEeKBxAv5xa0qjl1QnhHh4QE3E8Y3b8Ez3u6u3CLK/s+gxCHbdv3k8xxSOzGYagEC2XbKhxVw
    SQBgBgL+QMOnD96MfnbIkNd8un1ZnSCp0AhSLFskGcORyKakfDSqlkJeu6W0zbivy9jcHcRLNrvl
    UOJey1OVkaUzt2m08ORPOVe0DeyyW0oOsBAS0/IBN8EJnyAwIjzU/8bZ8S2aMsbZbau0lNOoy6me
    n333batIXO7MoDICbrp73I8RIA649RJSvm8Q9I5x8ScHXlF3JqJj1QWSSgEIUALJaAZmnpU6b7zc
    dkvJFAhW18L6zC09GZhkmydxaMY90F1x7Xah6bXQqNOHsq7k1bfLbvEMcHfC4ygwIqyJJuvs+GYt
    ygJHrimneYf49vuPHvvvf3ClO4N73p2ocS8xCfDIAYwhyPl5lO/7Pks2/fHik08CqBY7n1QaQIAS
    SCZYIKk+TF0wklfwstmt4pwkUOGPdZkf9wIDs7WlOGS3NF7KjNuFxtdCo+J+yLqiqw8vByOCPcoz
    IryxJitxfLNIxni720eyzTnNuyV0+CI2xTMYF7syqAr+HY6SwWSAohAw1ce5E8//Z/ljy+cT0eDq
    EEUqFSBACSSjOIDNSJk/IkDpKyskSqZAoCIA6zI2vQMCOWOeROOlSr9daH6l4eKTR3OuaR+zrieR
    WXlGhDbSZCdOataMKwMc+ebC+h1jO32bYUkLwKU5ClgYoDCh1HQzAIIOyHyR25cc/crYR24HohpE
    kUoHCFACyUgRYHNT5g/3VHrBjclrtwLVGqzL3NSLgZS2LmAHI4niYlah6eXGUbGHs69o68HLCR+p
    uZ/yjAgN09w8N6FZU47xdlWriAj5lvz6HWK7xKcbkt19pEa4dPM/gNIOOIrFmQGjL1Iu1g78s+DX
    HgBWyXTH5aZKCQhQAskIgNiclIXDeKUAJVPIHEk0iLm8uSs4wWCLJA5BEuilzLhRYGrfJCr2+9vX
    dY/AQwa7lWdEaJh/1tnxzVqWBY48S35E19iex9KK0jyCvXyRez0YZPIB+DKkYwwAD+jzagkXijKb
    ElGVn0istIAAJZAMJ4IwO3XuewHKANntlr8yAGvT1/UBA++MnCTYW5l8vcD0SljUicO513WPwMNZ
    kYQBeQY0bOR/O2F886Y8x9u12ImIUGTRNu4U1/1QalGqRqPUgKCDZFQDErOWdMt0WRJg8WD5pnx/
    Z9xlRatSAwKUQDIEgDgvdcH7nkofuDF515MEqmthXfqGd3hiFlskcagLuLa3Mu1GgenF0KjYn3Kv
    a//jFEjy9GjcKCDr3OSWzXk7VwISEQos2kadYrsdSdWnBWuUGtv/4ADejLtbSewfRA7gDOSh8Lld
    1aMHUAUAAUogGQYGzEtZ8D5fDom7RhWA1Zc29LWtKe/vKCTB3sqL1woMb4VHxX6Te93wkEN2K8+I
    xo0Cbp2d3CKSL8MMea5F26h7XLdjyUUpIRplwJ17lxjcPW4BbkbAzAN8KSpYfxs8BkgiVH5Z4sMe
    jdIcGa/KoioBCHAHEomI+yh1wZAApZ/8kCj8EX0xpjd4WIjoPUftVoi3OuFGgemV0IUnDufe0j1k
    dyQhBuRbbdXZyS0fF+yEg4hQKBY16Bzb9ch57d/hAACSBKj9bsHD+yKKboXa8hB7LpABnAUPBV8p
    eMKr5beOPofKoCoDCFACyVAOwOzUBUP8lL5Qy2y3aqkDsDo9ph8jqGx2y6HerWBv5V/XC0xtwhbG
    Hs29pa1bakgIQKEeDRsEZCdNbN5cYOyKXfdDhAJLQViXuJ6HzutS6vwTDgAgiQdgRGDDX1B0vYm1
    lYQrbRQhQO8FBB01vtE45I9Arv5ZJz2KClWVAgS4A4kIYGHqoiGc0hdKxpe2qcMu3W23VmXE9ARA
    zkjca3srU6/kG95qujj26+ybpbBbBKDQiIb1Am4nTWnRVODs662ywRHeJa7nkfPa5OB7wVEsyaKC
    5tE/kZ35OArTnwTUBaVYEEaAxR1QZ9FDLb/LHFVvSbnsKlkeqnKAAHcgYZD4OanzB2mUgbKXgDWq
    AKzMWPcOwBRE1BeAwZGX4CEfdfxVrenl8LknDufd1t0/khADCg1oUM8/++yklo8LnP3bgRaJugZd
    43odehAcAECSAiRYUO/JbTiv9YPxZmNAVXD/fIQYYPEELEUkPL3q5pLnOi+op2xeLaIHUEm6ecsq
    IsLqS+s3LkhdPMhX6QuVTHYLuNMFfNuSg1EPDzkwtf6kdwDoHf2lvKo1NAifF3c0L6uoLjz/OePO
    gHw9GjTwv5U0uUULBSfY9X0OIoJO1DV+K7brkWRdch2NEFDKP+TAK3UQzR64eOId5KU/DYgECBLA
    WawRhRhgUQCMB9wuSt4tY64vavPioqG1Jq+qLtEDqOKAANaXYNWldZsXpkb1t0KikMVuATZIJDOy
    TTkY+ejQfVPrT3T4S1cAcDnf0CIyKu6bvKtFwfBV3mmazTegQWP/W4ljW7RUK4RMe8dFKxaGdYnt
    dficLimk1HCUiAM4PXiekHe9CbLTn4Y292GQ3hOiKIAXjFD63CJ1yHGL36PHzMubTZn8ln+fagUH
    UEUt1t2y2a0BDDzmpczvH6DSyGu3OAUCVP5YmbG+s8CR3pa4O9QF/LCP+tSVfMNrYQvjDhdk6WrB
    UwByLXisgV/O2TEtnlCVAQ6daGjU5XTvw+cKk0I0KnvhAAAJkFQQieAXkgDf2gkQTd4wGt3BEQfw
    EkRFJpGgk9aEbhr4kt+ru6sbHEA1AAS4AwmRyBakRfXzk9FulUwmqvyx9GJMb5FY8W4pDkHykI86
    4Uq+oUvjRbGHtGkF6nrN/MVzkx9/XMUJl+y6PiLoRWODjrFdjpwv+itEow4o9bKUex+QwWJyB2ME
    JhjgrigCGAedWQezBLa2wZYxL/m9VC3hAKoJIEAJJP0JkKLSlgzwVvpAyez4xLMdKoGE90d0+toe
    xPEGIhriBEh+Sc7S9d/w+/XXp7Z5eJWK8Rftui4iaM26pl1O9fz2vO6vEI3CQTj+dmwGiAIkKFFk
    0cIMYF3E6vGval5aV13hAKoRIEAJJAMlJnELUpb0C1IFQJDdbmmwMm1VP15kvG3G3c7p57+rUaD7
    bgC7l9p7PUTQifomXc68831CYWJwkCrQ6ffMwNngEGldxOpxr2leXl6d4QCqGSDAnUjCE8S5qUsG
    alR+5WC3NFiWEd0HjJmJaLgzEne7roMIBlHfpFNs90PntEnBQepAp0WOYjFwKBK1MEOi1eHRH7ym
    ebnaJeT3UrUDBCiBZBCBSQvTlgz2U/rKb7dUAViZvnoAx0Q3Z+zgWOrzE6FI1Ed2jev5faLubO1a
    SpngsGhhJpHWRq4Y2lbz8oaaAAdQTQEBSiB5T4LEFqYuGVRLpZHXbjEl/FQ+WHphXU8w3kREgwGY
    Zf4EGwyiPqzrqZ7fn9GerV1LIZ+tEiHR2vDlw9tqXq0xcADVGBCgBJLBEMEWpS8d6C+z3VIxFQJU
    PliatvpdxqAa/8iYvgBkiSREBKNoCOt4uuehxLyztWupy1LKfcD4gUORRQczRFoTtmJE26BXq3VC
    fi9Va0CAO3ZL4klakrp8sL/KFwoZ7VYxJMvSV/cQRSreLcWhNe7/cx7rPEdk17ie3yZqz9ap5ea8
    alXJuNlyDhPMtC5s5bC2Qa+ur2lwADUAEOCO3eLA2ILUpYPkrm6pmAp+vA9WpK9+h+eYyTaZ6JST
    ERFMojG866me357WJtYJcmIpt2S8bJHDQiKtiVzxflvNazE1EQ6ghgAC3LFbomhhS9JXDPRX+kMl
    45euVJwK/ip/LElb2Q8SMxHRCEcTd6utMkd2ON3tu4S8cyFBstkqa+RYHb58eDtN2xoLB1CDAAHu
    2C0enHnRpeVD/eEHJSen3VIgQBWAZRdXvkc81LZ5kjIRabNVzbvG9T6YqD0bEuSmka1aZYKFosOW
    TWof9HqNyzn+qRoFCFACyfsiScoll1cOCGRy2y0l/BR+WJ66si8HXm+LJHYt3yUimGAK73Gq19en
    tadDghTylHJ1Fp0NjqVj3wxqt6KmwwHUQECAOzPu4CEsSVvR11/lL3t1y0/lhyWpS4dAFAXb8t1S
    nYyIYLZYwjue7v5DfF5inSC1PKVcnaiHAQZaFb581Ju12q12wWFVjQQEKIHkXWJgy9JW9/FTess6
    mahi1pxk2aXVAxlgJKKRD4KEiGCUjE26JPT84Uxhgny2StTDKOkoOnz5aBccf1eNBQQogaQvJElY
    dmFVT40yEALHyxpJfHlvLL0YPYzxAmdrS7nnyYgIZsnSoNvp3t/G5ZwJCVLLA4fOooOZzBQdvnzK
    W0Hto11w/F01GhCgBJJ3JIKw7NLKrgEIhIqTMSfhVPBV+GJR6pKhvDWSjPnnJ6GJCKIkNux4utvh
    +JyEunJFDqutMlJ0+OLxbwW1X+aC439V4wEBSiDpxsB2L720unsA84WSyTM0dyYT/TEvbdkHEqAm
    oqF3f6PQJFlCu8T2/Oa09szDssIhGSg6NGrqW0FvuuC4j1yA2GSDpAcxiV9+YVWXQGUt2e2WRumL
    xWnLhoAgEtFwADBL5sbdTvf6Ji4/7lG5unJ1Fj0MZKCV4VFj3gp6c6ULjvvLBchdskHSVSTat/LS
    6k4B0Mhrt5gKfkpfLM1YMYwkiD1COm0beX7izricU4/WcpMHDr2ohx46ig5fOqGDC44HyjU69xAR
    IepC1GfLLq3v5i/IZ7eAOxtBGKCHIClg4czw4j3lgcOih450tDw8akqnoA6LXHA8WK4Icg/ZIkl3
    iXHCigurOgUqNRBkjCQKjgdHHpB4EW5MJV/OwRlpeaOoWS44Si8XIPeRDZLOkigeiM5c1yEAAVDK
    BAkA8IyBl+FxFMNhlHS0MnTx1A7BHRa64Ci9XID8i2yQdCSOHYi+tLaDhgXItqWQLNdvyzmKJB2W
    h0XNccFhv1yAPEDFkDDGDqy4sKpDoEq+bU6det3goBe10EkWWhG2aHrn4A7zXXDYLxcgpVBJJJHE
    r6MzYt7QqPwrNSQMHAyiHjrJTEvDFszuHPy2C44yygVIKWWD5E0J+Gp1RsyblRWSYjgKJS0tD4ua
    1CX47SgXHGWXCxA7ZIPkLQZ8uSpj7VuaSma3im2VVjLTysaLp3VyweGwXIDYKRskHUSI363N2NS2
    skSS4sihl8xYFjZ3dqfgTgtccDguFyBlkA2SdgAOrs3Y2E6jqtjqFgMHg6RHoajDsvB5s7sGd5nt
    gsM5cgFSRjHGiIjac+C+Xn0x5g2NsmIgsUYOHQolA5aGzp/dNbjLhy44nCcXIA6oOHEnyfL96syP
    XwtUlC8kxbaqSDJgaaO587uFuOBwtlyAOCgbJG0lsIMxmZva+5cTJHdslRaLQxfOdsEhj1yAOEE2
    SN4Ah4Nr0ze1D1TLC0mxrSqSDFgcuuCjni44ZJMLECepGBJJkr7ZmLm5nVyR5G5btbDRnLk9Q7rO
    dMEhn1yAOFE2SNoDOLg+8+P2gQrnfg6u2FblilosC503r2dI9xkuOOSVCxAnqziSMLAv12V+/Jaz
    EncGDgaLHoWkw7LQubN6hnSf44JDfrkAkUHFk4kS6JuNmVvaBSgcm0wsaR9hOiysP2dhz5AeLjjK
    SS5AZFKx3eJAB9dlbm4fpCjb90mKbVW+qMPi0DmLeoX0mOKCo/zkAkRGlSTuYN+uz/z49Vp25iQl
    pVyLDotCZ0X1Cukx2QVH+coFiMwqbkthoK82XNn8ZqBQukhyNxwLGs5a0juk10QXHOUvFyDloOIu
    YBLp2/XXN78eLAT+KyRWOEwotBRibsM5K3vX7TXBBUfFyAVIOak4kkigoxuvfdrmftUtBg56SQet
    uQhzG89e/e5DvUa74Kg4uQApR9kgeVnipZ8+ubLteX/h75AU2yqtRY/5YR+u6BPSe4wLjoqVC5By
    lq0LuA1EHN907dNWAbwfVLwKAFAoaqGz6LCg0ew1LjhcqtEiIvW85EU/1vsxlB46Wo9CDjeg8J8f
    t3x+bd88IidvjOVSmeX6iapAEZEiqTC5zanCuKcUnFL3X99nfwhR105wRQ6XXHKpSuj/AUgr98ue
    REWAAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDE5LTA1LTAyVDA2OjAxOjE3KzAzOjAwOaeQywAAACV0
    RVh0ZGF0ZTptb2RpZnkAMjAxOS0wNS0wMlQwNjowMToxNyswMzowMEj6KHcAAAAASUVORK5CYII=" />
      </svg>
      <small class="d-block mb-3 text-muted">&copy; 2019-2020</small>
    </div>
    <div class="col-6 col-md">
      <h5>Features</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Cool stuff</a></li>
        <li><a class="text-muted" href="#">Random feature</a></li>
        <li><a class="text-muted" href="#">Team feature</a></li>
        <li><a class="text-muted" href="#">Stuff for developers</a></li>
        <li><a class="text-muted" href="#">Another one</a></li>
        <li><a class="text-muted" href="#">Last time</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Resource</a></li>
        <li><a class="text-muted" href="#">Resource name</a></li>
        <li><a class="text-muted" href="#">Another resource</a></li>
        <li><a class="text-muted" href="#">Final resource</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Resources</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Business</a></li>
        <li><a class="text-muted" href="#">Education</a></li>
        <li><a class="text-muted" href="#">Government</a></li>
        <li><a class="text-muted" href="#">Gaming</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Team</a></li>
        <li><a class="text-muted" href="#">Locations</a></li>
        <li><a class="text-muted" href="#">Privacy</a></li>
        <li><a class="text-muted" href="#">Terms</a></li>
      </ul>
    </div>
  </div>
</footer>
